[2020-10-27 16:08] aleksa-krolls opened #1 "Test authentication for AzureAD & confirm nothing else needed from the client"
## Request
Tomorrow I will have full specs for you, but can you please try authenticating with this test instance of Microsoft Azure AD in case I need to ask the client for any more information (they're based in the US, so turnaround might be slow)?

## Creds
See LP for `Microsoft Azure (Women for Women)`... this is my Microsoft account which has been granted access to different WfW environments.

[2020-10-28 10:34] aleksa-krolls opened #2 "Job to integrate Microsoft AzureAD to upsert `users`"
## Background, context, and business value

Women for Women wants to automate employee registration processes to save time syncing data between their BambooHR system and Microsoft Azure AD. OpenFn is configuring a prototype integration to pilot this data flow by first focusing on automation for new Employee registrations & updates. In subsequent phases, we may expand this automation to handle othe

[2020-10-28 12:45] aleksa-krolls commented on #1
@lakhassane FYI, the full specs for this project are now added to issue #2.

[2020-10-28 15:17] lakhassane commented on #2
@aleksa-krolls as per the request here what is the priority:
1. Create the running jobs?
2. Creating the new adaptor first, then use it for the new jobs?

[2020-10-28 15:19] aleksa-krolls commented on #2
@lakhassane We need to do both... what's the best approach here for efficiency's sake? Doing #1 first could help to validate what helper functions we need, but I could see that doing #2 first might reduce re-work. Your choice... please just advise on timelines accordingly as you dig in :)

[2020-10-28 16:07] lakhassane commented on #2
I think #1 would be the most appropriate. It will help see repeating pattern for a better adaptor implementation. So going for that

[2020-10-28 16:52] lakhassane commented on #1
@aleksa-krolls feedbackcs from testing here. I configured Azure and Postman to test.
We are able to get `access token` for future requests. However, it seems like the account I am using from Lastpass credentials does not have sufficient privileges for the needed operation. Check output from `GET /users`

[code]

[2020-11-02 06:48] aleksa-krolls commented on #2
@lakhassane How we doing on this? Can you please leave me an update on here or Slack?

[2020-11-02 10:28] taylordowns2000 commented on #1
@aleksa-krolls , Mamadou has confirmed that he's able to authenticate, generate an API token, and make a successful request to a protected API endpoint on AzureAD. Closing this issue.

[2020-11-02 10:28] #1 closed

[2020-11-03 06:34] taylordowns2000 commented on #2
@lakhassane , we needed an update here by EOD. I'm looking into your PR on the language-package, but please tell @aleksa-krolls what's up here.

[2020-11-03 10:56] lakhassane commented on #2
@aleksa-krolls @jedbgold this is ready for testing when you can. I will send you a `configuration state` format for use.

[2020-11-03 23:52] aleksa-krolls commented on #2
@lakhassane I'm not able to create nor update users and hitting `404` errors repeatedly. Any guesses why this error was thrown? What state did you test with where you were successful?
1. When I run on prod, I encounter a `404` error in [this run failure](https://www.openfn.org/projects/2976/runs/10347098). I expect a new user to be created here.
2. When I run locally with the `sample_data/bambooMs

[2020-11-04 20:29] aleksa-krolls opened #5 "`Assign manager` fails for all user upserts"
## Issue
Manager fails to be assigned for new users as well as when updating users. [See this run](https://www.openfn.org/projects/2976/runs/10354278) - I think it's because of the error `TypeError: Cannot destructure property 'id' of 'state.data.body' as it is undefined.`. It doesn't look like the manager user id is being passed back properly.

## state
Use [this message](https://www.openfn.org/p

[2020-11-04 20:37] aleksa-krolls commented on #2
@lakhassane The main big feedback so far from testing and client is that we need to _**upsert**_ `aadministrativeUnit` and `group` assignment as well as the user (not only create these assignments).

So if we are updating a `user`....

**1.3.** We need to first remove existing `administrativeUnit` membership _if_ this membership is an object in the `administrativeUnitsMap`.
--> Then we can add use

[2020-11-04 21:51] aleksa-krolls opened #6 "Minor user mapping issues"
## Issues
1. `mail: fields['Work email']` always seems to return `null` - why? [See run](https://www.openfn.org/projects/2976/runs/10354791).
2. `hireDate: fields['Hire Date'],` --> convert `Hire Date` to ISO datetime format and I think this will work
3. `otherMails: fields['Home Email']` --> needs to return value formatted like `['email1', 'email2']` and _never_ return an empty array `[]` or this

[2020-11-05 09:04] lakhassane commented on #6
Changes done for `1` and `2`. For `3` and `4`, do you have an payload where we find multiple values for each? In all payload I have it's only one value so it's hard to know how we could process it. @aleksa-krolls

[2020-11-05 10:13] aleksa-krolls commented on #6
@lakhassane on 3 and 4, I don't expect Bamboo to ever send us more than 1 value (so you can use what's in state currently). However, when we map it to Azure, Microsoft asks that we output the values in a "string collection" format (`[ 'value']`). Search `businessPhones` in [these API docs](https://docs.microsoft.com/en-us/graph/api/user-update?view=graph-rest-1.0&tabs=http) to see what I mean.

[2020-11-05 15:44] lakhassane commented on #6
@jedbgold during test, can you confirm these mappings are getting done please.

[2020-11-05 15:54] jedbgold commented on #6
@lakhassane yep. will do.

[2020-11-05 16:59] jedbgold commented on #6
@aleksa-krolls can we discuss this when you have a moment?

[2020-11-06 08:44] aleksa-krolls commented on #5
@lakhassane Looking good. Can you please add console.logs to this job so that we can see the user mappings and membership assignments in the run logs to help with troubleshooting as we and the client test?

[2020-11-06 08:45] aleksa-krolls commented on #6
@jedbgold All testing issues resolve, just required minor tweaks. But can you please confirm that the mappings are working for those different messages in the `[11-5]` test suite... feel free to re-run the `1. Upsert Azure user` job as needed.

[2020-11-06 08:47] #2 closed

[2020-11-06 10:36] #5 closed

[2020-11-06 14:12] jedbgold commented on #6
@lakhassane @aleksa-krolls everything in testing went smoothly. Closing issue now.

[2020-11-06 14:12] #6 closed

[2020-11-09 16:34] aleksa-krolls opened #7 "Check for existing users first by `employeeId` (instead of `userPrincipalName`)"
## Background, context, and business value
Currently, the mapping employed between BambooHR -> Azure relies on the `Work Email` entered into BambooHR to assign `userPrincipalName` in Azure.

This is not ideal though, as the W4W administrator entering data into BambooHR's `Work Email` field might make a mistake with his/her data entry and doing so could cause severe complications in the Azure envir

[2020-11-10 18:56] lakhassane commented on #2
@aleksa-krolls @jedbgold on this. Logic has been implemented. But I am unable to test. I am having an error as: `Authorization_RequestDenied` (as well for the version in prod right now). I can't seem to have access on Azure either. Could it be related?

[2020-11-10 18:56] lakhassane commented on #2
Oops wrong issue.

[2020-11-10 18:56] lakhassane commented on #7
@aleksa-krolls @jedbgold on this. Logic has been implemented. But I am unable to test. I am having an error as: Authorization_RequestDenied (as well for the version in prod right now). I can't seem to have access on Azure either. Could it be related?

[2020-11-10 19:24] jedbgold commented on #7
@lakhassane thanks for the heads up. Now that you have access to Azure again, let us know how the testing goes when you can.

[2020-11-11 05:51] aleksa-krolls commented on #7
@lakhassane So far looking good, but would it be possible to force a run _failure_ and throw an error when `Employee Id and User Principal Name do not match. Please review this user to confirm the Work Email entered in BambooHR`?

In such scenarios we want to draw the admin's attention and [this successful run](https://www.openfn.org/projects/2976/runs/10406777) raises no alarm... and if this scen

[2020-11-11 09:43] lakhassane commented on #7
@aleksa-krolls as suggested we throw an error when `upn` do not match  `employeeId` and at the same time we log the message for admin. So it's all good.

[2020-11-11 09:47] aleksa-krolls commented on #7
@lakhassane Great, thank you!
@jedbgold [Here](https://www.openfn.org/projects/2976/runs/10409351) is an example where this error is thrown if the `userPrincipalName` does not match. Please test the automation end-to-end to ensure this _and_ existing actions are working. I'd add a test scenario to our test suite to test for this scenario where Bamboo `Employee #` matches Azure `employeeId`, but th

[2020-11-16 02:15] jedbgold opened #9 "console.log revisions"
## Background, context, and business value

Women for Women would like an easier way to be able to filter jobs. To accomodate this, we would like to make some changes to `console.log` and `Error` messages.

## The specific request, in as few words as possible

Revise `console.log` messages to reflect the messages written on this [google doc](https://docs.google.com/document/d/1AJ0sAoZPdjs3hC8F1w7N

[2020-11-16 09:27] taylordowns2000 commented on #9
@jedbgold , this looks straightforward and it seems you've already written the code in that google doc. Are you implementing this, or would you like @lakhassane to help out? (If so, please put this in the backlog and prioritise accordingly.)

[2020-11-16 10:17] aleksa-krolls commented on #9
@taylordowns2000 @lakhassane ready to implement. Goal is to give the admin user better feedback on what is going on.

[2020-11-18 08:08] aleksa-krolls commented on #9
@lakhassane Looking good, thanks. And @jedbgold the docs look good for now. Let's sit tight and wait for Matias's feedback.

[2020-11-18 08:08] #9 closed

[2020-11-19 05:40] aleksa-krolls opened #11 "ReferenceError [Error]: Cannot access 'fields' before initialization"
## Describe the bug
All runs are failing with the error `ReferenceError [Error]: Cannot access 'fields' before initialization`. See example: https://www.openfn.org/projects/2976/runs/10475609

Q: Is this error related to the latest change request with the console.logs? Or something else? (I want to understand where we missed testing)

### expression.js
`upsertUser.js`

### state.json
See LP for `M

[2020-11-19 05:45] aleksa-krolls commented on #11
@lakhassane Can you look at this first today? The client has a demo at 9am ET.

[2020-11-19 10:05] lakhassane commented on #11
@aleksa-krolls it's done here

[2020-11-19 10:17] aleksa-krolls commented on #11
@lakhassane Thanks, but some related issues still popping up:
https://www.openfn.org/projects/2976/runs/10498643
https://www.openfn.org/projects/2976/runs/10498649

Also, can you please answer my `Q` posed in the request... merci :)

[2020-11-19 10:49] lakhassane commented on #11
RE your question: Yes this is because of the console.logs. I added one console.logs #L647 before destructuring the value used inside (fields) thus the error. This error would pop up each time you were creating a new user

@aleksa-krolls  these 2 errors are due to the fact that Work Email is null on state. Is this a normal behavior ? If yes, I will add a condition to test if empty. But beware of th

[2020-11-19 10:59] aleksa-krolls commented on #11
@lakhassane I will discuss with the client, but I think we need to handle for scenarios where the Bamboo user forgets to specify `Work Email`. So in this case...

Like with all employee updates, first check...
1. If "Status": "Active" &&
2. If "Employment Status" = any of [these values]:(https://docs.google.com/spreadsheets/d/18WNLa01o5ch2xFqVu_6tlUsvHOas-zqlKgJsi9QYWmU/edit#gid=1247678326)

If th

[2020-11-19 11:41] aleksa-krolls commented on #11
@lakhassane Working great now and demo-ready, thank you!

[2020-11-19 11:41] #11 closed

[2020-11-25 16:34] jedbgold opened #12 "Send Welcome Email Job Change Request"
## The specific request, in as few words as possible

This refers to current job in OpenFn called `Send Welcome Email`

Everything remains the same except now when the 'New Employee' email flow is triggered:
1) Send the current welcome email to `Work Email` with respective `HR Divisional Officer Email` cced.
2) Send the current welcome email with password information removed to `Supervisor Email`.

[2020-11-25 16:42] jedbgold opened #13 "OpenFn Job `Upsert AD User` -- New Rule to Eliminate Extra Spaces Entered"
## The specific request, in as few words as possible
The client would like to implement a new rule for the OpenFn job `Upsert AD User` that removes extra spaces that might be the result of human error when entering data into the BambooHR system.

The new rule is if spaces between words is >1 then eliminate extra spaces so spaces=1. Please note that the new rule applies to all BambooHR fields refer

[2020-11-25 17:37] jedbgold commented on #12
@aleksa-krolls hold off on this issue. Let's wait until we get 100% confirmation from Matias. I sent him an email today and waiting to hear back

[2020-11-27 11:12] lakhassane commented on #13
@jedbgold I don't have a message with extra spaces to test with but if you confirm that this is what is wanted you can close this issue.
At the top is the original message with `"extraaaaaa spaces"`. At the bottom is the same message cleared from `"extra spaces"`

![image](https://user-images.githubusercontent.com/8411231/100442994-d0bed500-30a0-11eb-89aa-837d68ee184f.png)

[2020-11-27 13:32] aleksa-krolls commented on #12
@jedbgold Did you get what you need from Matias? I'd like to get this into the backlog sometime today, so please let me know whenever ready for review and if a quick chat is needed to clarify the requirements.

[2020-11-27 13:47] jedbgold commented on #12
Nope. When I sent the email to Matias on Wednesday morning (nov 25) I got an out of office saying that he will return on Monday Nov 30th.

[2020-11-27 15:07] jedbgold opened #14 "New Employee Email Change Request -- 1B"
## The specific request, in as few words as possible

This refers to current job in OpenFn called `Send Welcome Email`

Everything remains the same except now when the 'New Employee' email flow is triggered:

- Send the current welcome email to `Work Email` with respective HR Divisional Officer Email cced.
- The `Supervisor email` should **NO LONGER** be cced to this email.
- See mappings here:  [

[2020-11-27 15:08] jedbgold commented on #14
@aleksa-krolls this change is now ready.

[2020-11-27 15:08] #12 closed

[2020-11-27 15:55] jedbgold opened #15 "Terminated Employee Email Change Request"
## The specific request, in as few words as possible

This refers to current job in OpenFn called `Send Inactive Employee Email`

Now, when the 'Inactive Employee' email flow is triggered the client would like the following:

- In the `to` field there should be the `HR Divisional Officer Email Address`
- in the `cc` field there should be the `helpdesk-us@womenforwomen.org` email address

The Super

[2020-11-27 15:57] jedbgold commented on #15
@aleksa-krolls this is the beginning of the changes to the `Send Inactive Employee Email`. Next week there will likely be another change request where we will be asked to change the html message slightly to account for the insertion of a link to a survey form.

[2020-11-27 16:06] jedbgold commented on #13
Looks great @lakhassane . Just tested and works as promised. Closing issue now.

[2020-11-27 16:06] #13 closed

[2020-12-01 09:41] aleksa-krolls opened #16 "Modify welcome email"
## Background
We configured a BambooHR <> Azure integration to sync new employees when AD when registered. We now want to ensure these employees receive automated email alerts (1) welcoming them to the organization, and (2) providing Azure login guidance.

## Request
Update the Mailgun job `sendWelcomeEmail.js` that sends a welcome email to newly registered employees.
1. Update the job to handle s

[2020-12-01 09:44] aleksa-krolls commented on #14
@jedbgold fyi, this is referenced in issue #16 where I added some minor changes.

Once implemented, these changes can also easily be copied over to #15 ... but looks like we're still waiting on some Mathias feedback for this one.

Will keep you posted when ready for testing!

[2020-12-03 17:14] aleksa-krolls commented on #14
@jedbgold This is ready, but we'll need to ask Mathias how to test so that we don't blast real users.

Check out the changes here: https://www.openfn.org/projects/2976/jobs/3657

[2020-12-03 17:23] aleksa-krolls commented on #15
@jedbgold See L30 and L31 for the new `to` and `cc` addresses implemented when ready to test.
1. Any word from Mathias on further changes? Does the message body still look good for this alert?
2. And does anything change about _when_ this email is sent? Currently it's triggered any time an employee status is changed to "Inactive"?

[2020-12-03 17:23] #16 closed

[2020-12-03 17:32] aleksa-krolls opened #17 "Only run automation if Division in list of "Active Divisions""
## Background, context, and business value
Women for Women would like to phase the roll out of the automation flows gradually division by division. This will allow time for HR teams to get BambooHR employee records up to date and in the the necessary shape to insure successful data flows.

The first `Division` that will be activated is `'Headquarters'`. Once the `Headquarters` automation is turned

[2020-12-03 17:33] aleksa-krolls commented on #17
@jedbgold We have client sign-off to proceed with this request as well, yes? Please finish this issue and assign back to me if so.

[2020-12-04 09:20] aleksa-krolls commented on #17
@lakhassane A quick one to work on today! Let me and @jedbgold know when ready to test.

[2020-12-04 12:58] aleksa-krolls commented on #17
@lakhassane We need to apply this logic to _all_ Azure operations in the job to ensure NO Azure action is taken if employee's division is not in the list of `activeDivisions`.
Therefore wee should _not_ assign managers, groups, or admin units if the employee division is not active... but looks like we are currently? I only see this logic evaluated in one place...
https://github.com/OpenFn/women-fo

[2020-12-04 13:00] lakhassane commented on #17
Yes @aleksa-krolls the job is written in such a way that `assignManagers`, `assignAu`, etc are functions used in a giant `if...else`. So if the division condition is not respected that giant `if...else` would not be executed anyway, thus no assignment is done.

![image.png](https://images.zenhubusercontent.com/5f3bd19df7cdea0cf185f72b/8b405fbb-469e-4ba1-bd2c-5afb42ee01ff)

[2020-12-04 13:37] aleksa-krolls commented on #17
@lakhassane thanks for clarifying! We'll test and revert back

[2020-12-07 04:05] jedbgold commented on #17
Hi @lakhassane and @aleksa-krolls testing succeeded! When I use `Headquarters` as division automation proceeds smoothly and when I put `Afghanistan` as headquarters I get a very nice console.log that tells me "Employee not member of activated Division. No automation executed." Thank you @lakhassane 💯 Here is the testing sheet: https://docs.google.com/spreadsheets/d/18WNLa01o5ch2xFqVu_6tlUsvHOas-zq

[2020-12-09 11:49] #17 closed

[2020-12-10 05:41] jedbgold opened #19 "New job request for sending seperate welcome email to Supervisor"
## Background, context, and business value

Currently when a new employee is activated in BambooHR, the employee is sent an email containing a Microsoft password with his/her supervisor cced. The client, Women for Women, no longer would like for the supervisor to have visbility of the new employee's password. Instead, the client would like for a seperate and distinct email to be sent to the superv

[2020-12-10 17:21] aleksa-krolls commented on #15
@jedbgold can you confirm my question #2?

[2020-12-10 17:22] #14 closed

[2020-12-10 17:34] aleksa-krolls commented on #19
@jedbgold See the new job here (https://www.openfn.org/projects/2976/jobs/3842). Questions...
1. Confirming this job has the same trigger as the Welcome emails?
2. How to fill in `to` and `cc`?  (For now to: supervisor, and cc helpdesk)
3. Preference for email `subject`? For now: `New Account for: ${state.name} (${state.division})`)

[2020-12-11 00:17] jedbgold commented on #19
@aleksa-krolls

1. Confirming this job has the same trigger as the Welcome emails? **Yes.**
2. How to fill in to and cc? (For now to: supervisor, and cc helpdesk) **To: Supervisor cc: HR Division Head (this requires the mapping logic. Refer to mapping for example: https://docs.google.com/spreadsheets/d/18WNLa01o5ch2xFqVu_6tlUsvHOas-zqlKgJsi9QYWmU/edit#gid=1626891982 **
3. Preference for email subj

[2020-12-11 00:20] jedbgold commented on #15
@aleksa-krolls re question #2:
No changes are to be made to the trigger.

[2020-12-11 00:51] jedbgold opened #21 "'sendWelcomeEmail' job not inserting employee first name correctly in html email"
## Describe the bug
There seems to be a problem with the HTML code that inserts the first name of the new employee in the `sendWelcomeEmail` job. See picture below.

![image](https://user-images.githubusercontent.com/71792525/101847327-fdeb9880-3b20-11eb-99e2-944dbd788a4b.png)

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://openfn.org/projec

[2020-12-11 06:17] #21 closed

[2020-12-11 06:17] aleksa-krolls commented on #19
@jedbgold sorry i missed 2, thank you!

[2020-12-11 06:17] #19 closed

[2020-12-11 06:17] #15 closed

[2020-12-15 11:52] aleksa-krolls opened #25 "If no `otherMails` provided, drop mapping"
## Bug
We should not send an empty `otherMails:[]` if no data is provided in this field. [See run failure](https://openfn.org/projects/2976/runs/10885156).
[code]

## state
See LP for `Microsoft (Women for Women)` --> Test environment

Message:  https://openfn.org/projects/2976/messages/10407330

## adaptor
`language-http`

## expression
https://github.com/OpenFn/women-for-women/blob/ecbd926e7590b

[2020-12-16 10:26] aleksa-krolls commented on #25
@lakhassane working great now, thank you!

[2020-12-16 10:26] #25 closed

[2020-12-16 15:02] aleksa-krolls opened #26 "Job does not process all employees listed in state"
## Describe the bug
See this run (https://openfn.org/projects/2976/runs/10894625) that seems to process only a few employees, when there are a total of 55 employee records in the triggering state (https://openfn.org/projects/2976/messages/10417798).

Why does the job not process all 55 records (e.g., new employee `Ben Carter`)? Is the job maybe timing out on production? (It looks like the run was

[2020-12-17 11:11] aleksa-krolls commented on #26
@lakhassane this is resolved from my POV, please close this issue if you agree.

[2020-12-17 11:11] #26 closed

[2020-12-18 06:01] aleksa-krolls opened #27 "New User created even though Employment Status is Terminated"
## Issue
[See this run](https://openfn.org/projects/2976/runs/10918169) where Gabriela's `"Employment Status": "Terminated"`. This is not in the list of "active" `EmploymentStatus` options - [see L270](https://github.com/OpenFn/women-for-women/blob/master/jobs/upsertUser.js#L270), and yet a new Azure user was created for her.
https://github.com/OpenFn/women-for-women/blob/8c220327f666ad969fa14d7d3

[2020-12-18 06:09] aleksa-krolls opened #28 "Add criteria for when a User should be upserted"
## Request
Currently we evaluate `Status` and `Employment Status` to determine whether to upsert a User. Please add a criteria that also checks employee `Termination Date`.
https://github.com/OpenFn/women-for-women/blob/8c220327f666ad969fa14d7d33a141c4f4961b9e/jobs/upsertUser.js#L604-L607
If these active criteria (above) are true AND...
1. If `Termination Date > TODAY()` OR is `null` or undefined

[2020-12-18 13:58] aleksa-krolls commented on #28
@lakhassane realizing I didn't spec this 100% properly the first go. Can you please add onto this so the criteria is when `Termination Date > new Date()` (below) **OR if `Termination Date` is null or undefined** (please add this)
https://github.com/OpenFn/women-for-women/blob/2bc34d3beee8720ba4b9985c7afa396d299281f8/jobs/upsertUser.js#L609

[This message](https://openfn.org/projects/2976/messages/

[2020-12-18 15:38] #28 closed

[2020-12-21 09:12] #27 closed

[2021-01-07 04:21] jedbgold opened #29 "When Division Field Left Blank in BambooHR, automatically assign user to "No Divison" Admin Unit in Azure"
## Background
Sometimes Women for Women's HR team will forget to enter a new employee's division into BambooHR. To prevent this omission from causing any issues with the new employee flow sequence, the following change is recommended:

Going forward when an employee's division field is left blank in BambooHR, this employee should automatically be assigned to a division unit in azure called `No Div

[2021-01-07 12:33] aleksa-krolls commented on #29
@lakhassane quick one for you today - please let @jedbgold know when done.

@jedbgold do you have a Message in OpenFn that we can test with where Division is blank? Otherwise we can ask for Mathias's help testing when done.

[2021-01-07 18:23] jedbgold opened #30 "Use BambooHR's Preferred Name in Azure's displayName When Possible"
## Background, context, and business value

At Women for Women International, some employees like to be called and referenced by their BambooHR `Preferred Name` `Middle Initial` and `Last Name`, so the transformation rule attached to the creation of Azure's `displayName` should take this into account.

## The specific request, in as few words as possible
To generate Azure's `displayName` field app

[2021-01-08 09:12] aleksa-krolls commented on #30
@lakhassane updating this issue spec now, but putting into backlog so you can see for today's stand up :)

[2021-01-08 09:42] aleksa-krolls commented on #30
@lakhassane specs ready, lmk when ready to test - thanks!

[2021-01-08 10:27] aleksa-krolls commented on #30
@lakhassane `null` is showing up in the string value returned for `displayName` if no middle name is specified.
See `displayName: 'Matías null Averbuj'` where `"Middle initial": null`. Please update to handle null values so that it outputs `Matías Averbuj`.
https://www.openfn.org/projects/p56pxp/runs/rzdw6r8g

[2021-01-08 11:14] #30 closed

[2021-01-11 12:01] #29 closed

[2021-01-11 16:16] aleksa-krolls opened #31 "'process' string in job throwing error on platform UI"
## Issue
Job contains the string `'processing'` which is not allowed on the platform without special syntax. Please update the job so that as an OpenFn.org user I don't see an error when trying to edit this job.

See related slack thread: https://openfn.slack.com/archives/G2LJCFFDW/p1610377934007900

## expression
https://github.com/OpenFn/women-for-women/blob/469403c9cc79de55ed131856d7bdba8923fd0

[2021-01-12 13:20] #31 closed

[2021-01-15 13:42] aleksa-krolls commented on #7
@lakhassane This is priority, please pick this up next.
## Issue
Sometime `employeeId` has not been added in Azure. Therefore we need to check `userPrincipalName` only when we upsert to determine if we should create or update a record. Currently if there is no  `employeeId` , we wrongly assume it's a new user and this is causing runs to fail: https://openfn.org/projects/p56pxp/runs/rrkax63g

## Ch

[2021-01-15 18:19] aleksa-krolls opened #32 "Update logic for when user is updated"
From Matias:
If Bamboo record matches with both UPN and email, update Azure.
If Bamboo record match UPN but not email, throw and error details.
If Bamboo record match Email but not UPN, throw and error details.
If Bamboo record does not match UPN nor Email in Azure, create a new record in Azure.
But...if this logic, I think it would not work in test mode as in test environment UPN and Email are di

[2021-01-18 12:46] aleksa-krolls opened #33 "mailNickname includes string value 'null' if no middle name"
## Describe the bug
If there is no middle name, `mailNickname` should not return a null string value - e.g., `MnullAverbuj`. See L17 in run here: https://openfn.org/projects/p56pxp/runs/rd733nz5

### expression.js
`upsertUser.js`

### state.json
See WFW Azure test instance with creds `Microsoft (Women for Women)`.

Use this as sample state: https://openfn.org/projects/p56pxp/messages/m783j867

##

[2021-01-18 13:04] aleksa-krolls commented on #7
@lakhassane One more small change request to add criteria to compare work email before updating a user...
## Request
Add logic to verify that both the `userPrincipalName` match (existing logic) **_AND_** that...
`email` match before updating an Azure user.

## expression
I think it's just a quick update to the logic on L618 to also compare Azure `mail` with Bamboo `Work Email`
https://github.com/O

[2021-01-18 15:49] aleksa-krolls commented on #7
@lakhassane So I'm testing the changes you made for paging to ensure we can always upsert users properly. It works great here (https://openfn.org/projects/p56pxp/runs/rj5k84zz) and finds the existing Matias user. However, in this run (https://openfn.org/projects/p56pxp/runs/ryajy6e8) I'm running into that error again where it doesn't find an existing user to update, but rather creates: `"Another o

[2021-01-18 20:46] aleksa-krolls commented on #7
@lakhassane To pick up tomorrow, I see a `TypeError` here: https://openfn.org/projects/p56pxp/runs/r5eazz7a

[2021-01-19 09:00] aleksa-krolls commented on #7
I'm still seeing a `TypeError` on L882 of this run log: https://openfn.org/projects/p56pxp/runs/rpdabby7

[2021-01-19 09:00] #33 closed

[2021-01-19 16:08] aleksa-krolls commented on #7
@lakhassane This change is looking good. But I'm finding some other `BadRequest` errors that seems to be finding duplicates in the test environment, but that does not seem right...

1. `BadRequest` conflict when trying to add a `Member` for a user... don't we always upsert `member` records? Why is a dupe being flagged?
https://www.openfn.org/projects/p56pxp/runs/rj5k3med
2. Other `member` issue ex

[2021-01-19 16:28] lakhassane commented on #7
@taylordowns2000 can we chat about `4` tomorrow morning?

[2021-01-20 12:59] aleksa-krolls commented on #7
@lakhassane Would it be easy enough to push any changes you make also to this job `updateUserProd.js`? This is the exact same job BUT I removed the `#EXT...` suffix we add to `userPrincipalName` when connecting with the test environment. Unfortunately because of this difference, I think we'll need to keep 1 production and 1 sandbox copy of the job.
https://github.com/OpenFn/women-for-women/blob/ma

[2021-01-20 13:03] lakhassane commented on #7
Not that hard @aleksa-krolls. Mostly those are small changes so I can duplicate any future change on this job as well.

[2021-01-21 06:49] aleksa-krolls commented on #7
@lakhassane Keep me posted on the approach you ultimately decide to implement for my feedback `1`-`4`? Keep me posted if easier to discuss over a call, and happy to jump on a quick call this afternoon.
cc @taylordowns2000

[2021-01-24 13:36] aleksa-krolls commented on #7
@taylordowns2000 @lakhassane This run is still timing out. What's the recommendation here? Can we set this up as a long-running job? (The triggering message is for a pretty large record set, so I don't anticipate the client needing this long-running job more than a couple times per year... but would be great to ensure we can handle occasional bulk record updates?)
https://www.openfn.org/projects/p

[2021-01-25 09:20] taylordowns2000 commented on #7
Heyo, this is already set to long run (and the last run failed after 235 seconds—indicating that it was properly given the extra time needed to run as a "long run".) Check this out: https://www.openfn.org/projects/p56pxp/runs/r89nyxde

[2021-01-25 10:25] lakhassane commented on #7
@aleksa-krolls could you point to the run that timed out? The one from 24.01 did not timed out but failed due to normal conditions (`work email not provided`, ...)

[2021-01-25 12:04] aleksa-krolls commented on #7
@lakhassane sorry i see the latest run is not timing out... my bad, was looking at older runs. Thanks!

[2021-01-25 12:04] #7 closed

[2021-02-08 06:18] aleksa-krolls opened #35 "Allow long-running jobs for project p56pxp"
## Request
Especially during this initial rollout phase, sometimes the client is triggering a bulk sync of data so that several records are sent from BambooHR. See Message below, and please allow for long-running jobs.
https://openfn.org/projects/p56pxp/messages/mv773mj4

FYI, I'm pretty sure Mamadou already looked into this to confirm no job running efficiencies - so I'm pretty confident this is

[2021-02-08 09:58] aleksa-krolls commented on #35
@taylordowns2000 can you check this out before we sync today please? The client comes online in ~2 hours, would like to send them an update.

[2021-02-08 10:21] taylordowns2000 commented on #35
Enabled for https://openfn.org/projects/p56pxp/jobs/jvebjm

[2021-02-08 10:21] #35 closed

[2021-02-11 21:41] aleksa-krolls opened #36 "Convert Mailgun jobs to SendGrid jobs on http adaptor"
## Request
For Wfw, we configured 3 jobs using `language-mailgun` that send employees and WfW staff notifications during different employee registration steps. The client is having payment issues with `Mailgun` so is wondering if we can switch them over to SendGrid (where they do have an account already setup).

The API docs make it seem very straight forward and the mappings look the same as Send

[2021-02-11 23:41] aleksa-krolls opened #37 "Check existing user's proxyAddress to decide whether to update"
## Background, context, and business value

See [issue 7[(https://github.com/OpenFn/women-for-women/issues/7#issuecomment-762331790) for the history of changes made to how we search for existing `users` in Azure and update. The logic flows as...

1. If Bamboo employee records matches with both Azure UPN and email, update Azure record.
2. If Bamboo employee record does not match neither Azure UPN n

[2021-02-12 11:52] lakhassane commented on #36
@aleksa-krolls jobs configured from `production2` folder (so I don't overwrite the mailgun jobs).
You are free to test whenever.
https://openfn.org/projects/p56pxp/jobs/jvqnk7
https://openfn.org/projects/p56pxp/jobs/jykzmr
https://openfn.org/projects/p56pxp/jobs/jveb7r

[2021-02-15 16:59] aleksa-krolls commented on #36
@lakhassane looking good so far, ty!!

[2021-02-15 16:59] #36 closed

[2021-03-01 06:49] #37 closed

[2021-04-07 19:10] aleksa-krolls opened #38 "Do not throw error is no Work Email provided"
## Current behavior
We now throw an error if no `Work Email` is provided. Example run: https://www.openfn.org/projects/p56pxp/runs/rrk4mjd4

The client is saying too many errors are being thrown and wants to change the job so that this message is logged, but no errors are thrown.
https://github.com/OpenFn/women-for-women/blob/ad9d54c8a329cc2f5885e3964d8c43767ca3495d/jobs/production/upsertUserProd.

[2021-04-08 05:32] #38 closed

[2021-05-05 13:32] hnyende opened #39 "Committed Giving - Salesforce (Duplicate check)"
## Background, context, and business value

Women for Women International (WfWI) would like to integrate data captured by Committed Giving with Salesforce. OpenFn will sync donation data from Committed Giving to Salesforce. In addition, OpenFn to perform duplicate checking before upserting data.

For example:  As a staff at WfWI, I need to determine how many records DON'T already exist in Salesfor

[2021-05-06 18:10] lakhassane commented on #39
@hnyende is this ready for implementation? I see it assigned but still in icebox

[2021-05-10 06:20] hnyende commented on #39
@lakhassane not yet please. We are still waiting for sample data from WfWI.

[2021-05-10 13:37] hnyende commented on #39
@lakhassane not yet please. We are still waiting for sample data from WfWI.

[2021-05-11 05:35] aleksa-krolls opened #40 "Sample issue"
## Background, context, and business value

A clear and concise description of what the client wants and WHY.

For example: [wip...]

## The specific request, in as few words as possible

A clear and concise description of what you want to happen.

## state.json

Either provide state directly, or link to a file. If sensitive information
should be in state, redact it and provide instructions for wh

[2021-05-11 07:06] hnyende opened #41 "Committed Giving - Safesforce (CSV to JSON Specs)"
## Background, context, and business value

Women for Women International (WfWI) would like to integrate data captured by Committed Giving with Salesforce. OpenFn will sync donation data from Committed Giving to
Salesforce. In addition, OpenFn to perform duplicate checking before upserting data.

For example: As a staff at WfWI, I need to get data from Committed Giving and merge it with data in sa

[2021-05-11 08:18] hnyende opened #42 "Committed Giving - Safesforce (JSON to Salesforce Specs)"
## Background, context, and business value
See Issue #41

## The specific request, in as few words as possible
Create Jobs that map the JSON objects, to Salesforce and Upserts Salesforce Objects .
See [Data Flow Diagram](https://lucid.app/lucidchart/34c8100a-42d2-47ab-8a5a-6c406a744ed8/edit?beaconFlowId=53F1EDFE7A9CEC2A&page=0_0#)
See  [Mapping specifications](https://docs.google.com/spreadsheets/

[2021-05-11 09:04] hnyende opened #43 "Custom CC and Custom DD files to salesforce specs"
## Background, context, and business value
We want to map tribute information to corresponding Opportunities to record who the donation is in honor of when donors donate money as a gift or tribute to someone else. This tribute information is collected via a form, so the form questions (metadata) are captured as data in the CSV data sources.

See issue #41  for project background.

## The specific

[2021-05-14 11:11] aleksa-krolls commented on #41
@lakhassane I'm adding this to the backlog to begin work whenever ready (but note that Primero and WCS take priority).
Please let @hnyende know if you have any questions.

[2021-05-19 08:07] aleksa-krolls commented on #42
@hnyende Some feedback...
1. We should have 1 job per CSV source file (unless you plan to ask Mamadou to combine multiple source files into 1 JSON object for state)...
2. Make sure all Salesforce fields referenced have the API name --> what is this for `Recurring Donation`, `Legacy Supporter ID`?
3. For your request #2, I think all `transactions` should upsert 1 `Opportunity` and 1 `Payment`... se

[2021-05-21 12:39] aleksa-krolls commented on #41
@lakhassane whenever done, can you please configure this + the credential on prod to test?

@hnyende when Mamadou is done, we can test fetching the CSV files from the sftp server via OpenFn... these will be uploaded as Messages that we can then use for the `state` of our specs to upload this data to Salesforce :)

[2021-05-21 16:47] lakhassane commented on #41
note @aleksa-krolls still some issues on this sftp csv streaming. But will solve asap.

[2021-05-25 14:34] lakhassane commented on #41
@hnyende @aleksa-krolls this is ready to be continued. But noted that the file names that are in the original specs are different from the one Im seeing on the sftp server right now.

Im configuring on prod

[2021-05-25 16:49] hnyende commented on #41
@lakhassane yes, the updated files begin with `20210517` I will update

[2021-05-26 08:44] aleksa-krolls commented on #41
@lakhassane Please see @hnyende 's comment above... and please run this on prod to confirm it works. You can add a job and credentials here: https://openfn.org/projects/pdv34m/jobs/jywrpw

We want to check out the messages to ensure it contains the tags `fileName: ${CSVname}`. These messages will be the state for issues we're submitting later today, thanks.

[2021-05-26 09:12] aleksa-krolls commented on #42
@lakhassane Once we get the CSV files loaded as Messages into the OpenFn Inbox (see issue #41 ), then @hnyende can update this issue to provide a link to the relevant state/Message for each of these jobs. You can then begin work later today or tomorrow.

[2021-05-26 12:10] lakhassane commented on #41
@hnyende @aleksa-krolls see here a message sent to inbox:
https://openfn.org/projects/pdv34m/messages/mpq5zw4v

You can find the others as well.

[2021-05-27 07:05] aleksa-krolls opened #44 "Do not send Welcome Email if these conditions are met"
## Background
We have an Azure `upsertUser.js` job that runs when we receive new employee data from Bamboo. We choose not to execute actions and rather log these messages if the following criteria is met.
https://github.com/OpenFn/women-for-women/blob/9032be921a79e749188ff5687fdc03bf0f383e74/jobs/upsertUser.js#L613-L622

## Request
Please add these same 2 criteria checks & logs to the job `sendWel

[2021-05-27 10:43] lakhassane commented on #44
@aleksa-krolls this is done and ready for testing

[2021-05-27 11:08] lakhassane commented on #42
@hnyende  @aleksa-krolls one of the payload (check section `state.json` for number `6 Transactions DD`) is too large and cannot be posted to the inbox. I had a `413` in prod and locally in my machine.

So I'm going with the 1st 5 payloads
cc: @taylordowns2000

[2021-05-27 14:12] aleksa-krolls commented on #44
@lakhassane I directed you to the wrong jobs, my bad :(

1. Can you please make these same commits but in the "prod" jobs in the `production` folder: https://github.com/OpenFn/women-for-women/tree/master/jobs/production2

2. Also the same changes you made to the Welcome Email job --> can you please replicate in the Supervisor Email job: https://github.com/OpenFn/women-for-women/blob/master/jobs/pr

[2021-05-27 16:30] lakhassane commented on #44
@aleksa-krolls I think the logic is already implemented for `sendWelcomeEmailProd.js`
https://github.com/OpenFn/women-for-women/blob/master/jobs/production2/sendWelcomeEmailProd.js#L588-L590

I replicated for `sendSupervisorEmailProd.js`

[2021-05-28 05:29] aleksa-krolls commented on #44
@lakhassane I don't think the logic is quite right and doesn't include both if statements in `sendWelcomeEmailProd.js`. See this run: https://www.openfn.org/projects/p56pxp/runs/rx8594g5

In state, I see that `"Work Email": null`... this triggers [this log](https://github.com/OpenFn/women-for-women/blob/master/jobs/production2/sendWelcomeEmailProd.js#L611) to be thrown.

Rather, I want the below l

[2021-05-28 08:48] aleksa-krolls commented on #43
@lakhassane This is ready to be worked on... heads up that the source data is structured in an interesting way, so chat with @hnyende if you need clarifications/ want to walk through this.

[2021-05-28 08:55] aleksa-krolls commented on #42
@lakhassane Keep me and @hnyende posted if you're still having a hard time extracting that DD file, and if you want to discuss.

If still struggling, we think that this first file will be very big because it contains all historical data... but going forward, it should be much smaller. Therefore, we can consider manually extracting this DD file and posting to the OpenFn Inbox in chunks so that we c

[2021-05-28 13:24] lakhassane commented on #43
@hnyende I finished mapping `custom CC`and `custom DD`

[2021-05-28 14:23] lakhassane commented on #42
@hnyende every job is mapped and configured also on prod.

[2021-05-28 15:04] hnyende commented on #42
@lakhassane thank you. Let me start testing

[2021-05-31 10:45] #44 closed

[2021-05-31 11:12] aleksa-krolls commented on #39
@lakhassane Here is another issue expanding one of the jobs you wrote to handle advanced duplicate-checking scenarios. Let @hnyende if you have any questions.

[2021-05-31 13:15] lakhassane commented on #39
@hnyende @aleksa-krolls it's implemented.

However I remove `MailingAddress`from the comparison in point 2 because I think we are not mapping it right.
In SF, the address comes as this:
[code]

If you could provide me with details from the mapping sheets which csv path should go on which sf key(e.g, Address2 => city, Address4: street, ...), I can correct the mapping.

[2021-05-31 13:18] aleksa-krolls commented on #39
@lakhassane See rows 8-15 in this [donors sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1668919710) for the address mapping, thanks!

[2021-06-01 05:47] aleksa-krolls opened #45 "upsertDonors.js feedback V1"
## Describe the bug
See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1668919710) - `Donors V1` for updated mappings.

TypeError: Cannot read property 'query' of undefined.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of the `TypeError` the job encounter

[2021-06-03 08:14] hnyende opened #46 "upsertSponsorhips.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is.  See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1601872348) - Sponsorships V1 for mappings.

Yellow warning. Timing needs adjustment

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative o

[2021-06-03 08:53] hnyende opened #47 "upsertCardMaster.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is. See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1843100201) - card master V1 for mappings.

TypeError [Error]: Cannot read property '2' of null

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is in

[2021-06-03 09:12] hnyende opened #48 "upsertTransactionCards.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is. A clear and concise description of what the bug is. See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1387755636) - transactions-cards V1 for mappings.

ReferenceError: field is not defined

## To Reproduce
1. Here is a li

[2021-06-03 09:20] hnyende opened #49 "upsertDirectDebits.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is. See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=1424769387) - direct debits V1 for mappings.

ReferenceError: field is not defined

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of t

[2021-06-03 09:49] hnyende opened #50 "upsertTransactionDD.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is. See original issue #42 for the background. See [mapping sheet ](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=916559361)- Transactions DD V1 for mappings.
ReferenceError: field is not defined

## To Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of t

[2021-06-03 10:15] hnyende opened #51 "upsertCustomCC.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is.See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=268449680) - Custom CC V1 for mappings.

METHOD_NOT_ALLOWED: HTTP Method 'PATCH' not allowed. Allowed are GET,HEAD,POST

## To Reproduce
1. Here is a link to a failed run on

[2021-06-03 10:21] hnyende opened #52 "upsertCustomDD.js feedback V1"
## Describe the bug
A clear and concise description of what the bug is. See original issue #42 for the background. See [mapping sheet ](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit#gid=215488875)- Custom DD V1 for mappings.

MALFORMED_ID: Honoree Contact: id value of incorrect type: Ruby Anita Russell.

 To map,  npsp__Honoree_Contact__c,  we may have to

[2021-06-04 08:57] aleksa-krolls commented on #51
@hnyende Mamadou will have space this morning, so I'm going to go ahead and move these to the backlog.

@lakhassane Looks like we're getting this error because the datavalue is undefined. But I think this job needs work... it doesn't look setup to handle the `_json` array. See this state: https://www.openfn.org/projects/pdv34m/messages/ma9rmz7v

[2021-06-04 08:59] aleksa-krolls commented on #52
@lakhassane Similar feedback as issue #51... we need to handle the array of items. Please discuss with @hnyende how this should work, and see state: https://www.openfn.org/projects/pdv34m/messages/mmq5gnzg

[2021-06-04 10:40] lakhassane commented on #51
@hnyende @aleksa-krolls quick one.
Does this job needs to do what it does for each object in the json array?
Because my thoughts were we need to (1) look into all the object at once, (2) find the matching one and (3) assign it to the salesforce field.

[2021-06-04 11:00] hnyende commented on #51
@lakhassane  yes, it should be for each object in the json array

[2021-06-04 11:14] aleksa-krolls commented on #51
@lakhassane Hmm, so... multiple rows in the CSV may have the same `CCID`. Each of these rows need to update a different field on this `CCID` record.

We can either... for each CSV row, update the Opportunity every time. (But this means the same record might be updated some 4-5 times in 1 run... and Salesforce may not like if we try to do that.)

So I wonder if we should rather find every CSV row t

[2021-06-07 14:28] lakhassane commented on #51
@aleksa-krolls I implemented the pattern we talked about by building a new json array from the metadata.
replicated also for `upsertCustomDD`.
@hnyende this is ready for testing

[2021-06-07 14:28] lakhassane commented on #52
@hnyende this is ready for testing

[2021-06-08 10:35] hnyende commented on #51
@lakhassane , I am getting an error `MALFORMED_ID: Honoree Contact: id value of incorrect type: Ruby Anita Russell`. See message link: https://www.openfn.org/projects/pdv34m/runs/ryaw6b8d

Can we try this:
1. Search Contacts where Name = 'Ruby Anita Russell', and then return the id so that npsp__Honoree_Name__c: contactMatch.Id

[2021-06-09 07:34] aleksa-krolls commented on #52
@hnyende I see you moved this to Backlog... what changes need to be made or a link to a Slack thread if you were discussing with Mamadou? If you move things to backlog, you should always summarize what's needed next so that Mamadou can remember when starting this issue agin.

[2021-06-09 07:36] aleksa-krolls commented on #41
@lakhassane When we stream the CSV files from sftp to OpenFn JSON, please do _not_ include the file header values as data... these should only be metadata, so skip the first row please.

[2021-06-09 09:50] lakhassane commented on #45
@hnyende solved per our last zoom session. Awaiting long-running job.

[2021-06-09 11:38] lakhassane commented on #52
@hnyende please can you advise on the right column to check in `Contact`for name. I dont think there is a column `Name`in that object

[2021-06-09 11:59] hnyende commented on #52
@lakhassane yes, we have `Name` in Contact object.

[2021-06-09 12:14] lakhassane commented on #41
@aleksa-krolls @hnyende it's taken care of.

[2021-06-09 15:27] hnyende opened #53 "upsertDonors.js feedback V2"
##Describe the bug
See original issue #42 for the background. See mapping sheet - Donors V1 for updated mappings.

FIELD_CUSTOM_VALIDATION_EXCEPTION: A contact with this email address already exists.

This error appears when 2 donors have different Legacy Support IDs, but the same email, name, and contact details.

##To Reproduce
Here is a link to a failed run on OpenFn.org which is indicative of

[2021-06-09 15:42] aleksa-krolls commented on #53
@hnyende Let's discuss tomorrow. We need to change the logic from what we originally requested before we hand over to Mamadou. Tomorrow please review the original spec and then consider what changes we should make: https://github.com/OpenFn/women-for-women/issues/39

(I would consider this not a bug because the job is working according to the spec... however we've encountered new scenarios that ar

[2021-06-09 18:49] aleksa-krolls opened #54 "ReferenceError [Error]: host is not defined"
## Describe the bug
See run here: https://openfn.org/projects/p56pxp/runs/rpdjddpk

Any guesses what's going on here? Something related to an adaptor release?

Please feel free to re-run on prod. I'm pretty sure you own the SendGrid credential on prod.

[2021-06-09 21:18] lakhassane commented on #54
@aleksa-krolls could you give me project access?

[2021-06-10 06:05] aleksa-krolls commented on #54
@lakhassane access granted!

[2021-06-10 09:30] hnyende opened #55 "Email Duplicate Check on Donors CSV export"
## Background, context, and business value

We want to map tribute information to corresponding Opportunities to record who the donation is in honor of when donors donate money as a gift or tribute to someone else. This tribute information is collected via a form, so the form questions (metadata) are captured as data in the CSV data sources.

See issue #41 for project background.

## The specific

[2021-06-10 10:04] lakhassane commented on #55
@hnyende this is done and ready for testing!

[2021-06-10 10:32] hnyende commented on #55
@lakhassane thanks let me test please

[2021-06-10 10:55] lakhassane commented on #54
@aleksa-krolls a typo in one of the variable in the code. It's set now: https://openfn.org/projects/p56pxp/runs/rx8m8dwj

[2021-06-10 14:20] #45 closed

[2021-06-10 14:20] #54 closed

[2021-06-10 14:23] #41 closed

[2021-06-10 19:02] lakhassane commented on #55
@hnyende @aleksa-krolls find the latest run for `upsertDonors`: https://openfn.org/projects/pdv34m/runs/raa9za5r. There is a invalid email being set.
The wrong email is `"Pauline xxx@gmail.com"`
If you think, we should remove the part before the space whenever this happen, feel free to remove the comments I made in the code line `48` and line `53` to use the potential corrections I made
Then comme

[2021-06-11 09:00] aleksa-krolls commented on #55
@lakhassane please see slack thread, and help @hnyende chunk donors until smaller payloads. The Messages as-is time out after 20 min.

[2021-06-11 11:24] hnyende commented on #55
@lakhassane  can you help with this tyeerror on https://openfn.org/projects/pdv34m/runs/rrk7nmjb: TypeError [Error]: Cannot read property 'substring' of undefined

[2021-06-11 11:57] hnyende commented on #46
@lakhassane experiencing an email issue https://openfn.org/projects/pdv34m/runs/r6g4nwnx for upsertSponsorhips.js here : INVALID_EMAIL_ADDRESS: Email: invalid email address: M3 4NJ.

What do we do for these incomplete emails?

[2021-06-11 12:47] hnyende commented on #55
@lakhassane after testing this, I get another TypeError [Error]: Cannot read property 'split' of undefined see https://openfn.org/projects/pdv34m/runs/r9wbjpjk

[2021-06-11 13:27] hnyende commented on #47
@lakhassane, we are getting this error `INVALID_FIELD_FOR_INSERT_UPDATE: Unable to create/update fields: npe01__Opportunity__c. Please check the security settings of this field and verify that it is read/write for your profile or permission set`. see https://openfn.org/projects/pdv34m/runs/renw6z9z

@aleksa-krolls recognised it to be a Salesforce limitation on the object npe01__OppPayment__c... an

[2021-06-11 14:25] lakhassane commented on #55
if `PrimKey (Committed_Giving_ID__c)` is `undefined`, then we should not try to upsert that item from the CSV array.  So, we make use of `upsertIf(...)` function where we check if dataValue('PrimKey') is defined

[2021-06-11 15:00] aleksa-krolls commented on #46
As discussed - let's map `null` if invalid email address for now. To discuss with WfW.

[2021-06-14 12:58] lakhassane commented on #47
@hnyende I made the changes for `upsertCardMaster` and the 2 `upsertTransactionXXX` jbos

[2021-06-14 12:59] hnyende commented on #47
@Mamadou, thanks let me re-run

[2021-06-14 16:38] hnyende opened #56 "Validation Checks for upsertDonors.js"
## Background, context, and business value

See issue #41 for project background.

## The specific request, in as few words as possible

Add data validation checks before uploading Donor contacts. We're thinking this logic should live in `upsertDonors.js` so that we can compare with the source data in the Message, as needed... but what do you thinK?

1. Check `json.EmailAddress` on the extracted `

[2021-06-15 06:43] hnyende commented on #47
@lakhassane we want to create a SF record for card master only if there is a LastCreditedDate. So please update logic to use  upsertif LastCreditedDate !== null or undefined.

[2021-06-15 06:48] aleksa-krolls commented on #47
@lakhassane Flagging that I'm not sure if `upsertIf(...)` can be used if we're using `bulk(...)` function, but this if statement should be applied.
cc @hnyende

[2021-06-15 10:45] lakhassane commented on #56
@hnyende I implemented the 3 validation checks. Feel free to test

[2021-06-15 11:25] lakhassane commented on #47
@aleksa-krolls @hnyende there is 3 operations (upsert, update and create) on `upsertCardMaster`. Does it mean none of them is executed if there is not a `LastCredited` date or just the one that need it (the upsert)?

[2021-06-15 11:35] lakhassane commented on #47
@hnyende I implemented that new logic

[2021-06-15 11:46] hnyende commented on #47
@lakhassane thanks let me re-run

[2021-06-15 12:16] Mamadou commented on #47
Sorry, can you please remove me from this thread.
Somebody put my name in comment, and now I’m receiving all the message.

MamadouSy

Sent from my iPhone

[2021-06-15 13:17] aleksa-krolls commented on #47
@hnyende see comment above :D ... be sure to tag @lakhassane on Github

[2021-06-15 13:22] taylordowns2000 commented on #47
Have deleted the comment from the wrong M.a.m.a.d.o.u., in the hopes that by deleting the comment he won't get notifications each time we chat here. Apologies, M.a.m.a.d.o.u., if you're still reading this! Hope we didn't create too much nuisance :-)

[2021-06-17 07:23] #55 closed

[2021-06-17 07:23] #39 closed

[2021-06-17 07:23] #42 closed

[2021-06-17 07:23] #43 closed

[2021-06-18 08:50] aleksa-krolls opened #57 "Updated Donors duplicate checking logic"
## Background, context, and business value
This extends issue #56 and #41.

## The specific request, in as few words as possible
Client has requested changes to the steps for how we check for existing Contact records and handle invalid emails. For the new logic, see the second `Integration Flow` tab in this LucidChart diagram: https://lucid.app/lucidchart/invitations/accept/inv_b3be161a-a1bc-4a29-

[2021-06-18 17:20] lakhassane commented on #57
@hnyende @aleksa-krolls so I implemented the new data flow as designed.

In the first part it says "to throw an error if emails is duplicated" which is different from the rest that says to throw error AT THE END. I don't if that is what is intended but I implemented it as is. So for any duplicated email, we immediately throw an error.

[2021-06-21 03:19] aleksa-krolls commented on #57
@lakhassane Sorry for the lack of clarity... but all errors should be thrown at the end. There is a lot of data to process, so the goal should be to successfully process whichever records we can, and then at the end throw an error to log all the records that we were unable to upload for an admin to review... but some failures shouldn't block the entire payload from being uploaded. Please prioritiz

[2021-06-21 15:28] #56 closed

[2021-06-22 03:05] aleksa-krolls commented on #57
@lakhassane @hnyende and I are finding TypeErrors when we are trying to post strings that have `'` within the string value. For example, the name `D'arcy`
[code]
See related runs:
https://www.openfn.org/projects/pdv34m/runs/rj5jxmwj
https://www.openfn.org/projects/pdv34m/runs/ryawg3k8

Is there a way to format the strings... perhaps include a backlash in the string value (?)... so that we can succ

[2021-06-23 10:30] aleksa-krolls opened #58 "Bulkify wfwi jobs to leverage `bulk()` function"
## Background, context, and business value
To avoid OpenFn timeouts and SF API limits.

## Request
Please bulkify any of the `commited` jobs we can.

## expression
https://github.com/OpenFn/women-for-women/tree/master/jobs/committed

## state
See LP for `WfW Salesforce Sandbox`

[2021-06-23 10:40] lakhassane commented on #58
- [ ] upsertDirectDebits
- [ ] upsertCardMaster
- [ ] upsertCustomDD

[2021-06-25 12:45] lakhassane commented on #58
@hnyende @aleksa-krolls all the job in here are using bulk for now except `upsertDonors`.
You might want to test them and check some error as missing required fields or exceeded storage in SF.

[2021-06-25 17:05] hnyende commented on #58
@lakhassane thanks a lot. Will test soon.

[2021-07-01 04:36] aleksa-krolls opened #59 "WfWI - CG job error troubleshooting support"
## Request
See my Slack thread and coordinate with @hnyende as needed: https://openfn.slack.com/archives/G2LJCFFDW/p1625112197039300
See the ongoing issue log based on testing so far: https://docs.google.com/spreadsheets/d/1rBpf4MtVZQFyTqry7jNnNDg77jsPbfyJTWhHXtNFz-I/edit#gid=1420594957

This is the project: https://www.openfn.org/projects/pdv34m/jobs

## state
See LP for `WfWI NEW Sandbox Salesfo

[2021-07-02 08:52] aleksa-krolls opened #60 "Transactions upload: `InvalidJob: Unable to parse Job`"
## Describe the bug
For the `transaction` jobs I was able to resolve the Salesforce trigger error I listed in my spreadsheet... but now I'm running into this issue when trying to bulk upload `npe01__OppPayment__c` records to Salesforce. Can you please help to troubleshoot? Coordinate with @hnyende to re-run and test.

## To Reproduce
https://www.openfn.org/projects/pdv34m/runs/rk534ge7

### expres

[2021-07-02 11:50] lakhassane commented on #60
@aleksa-krolls @hnyende the error was because we were using `create`while it does not exist in SF. Should have used `insert`. Im replicating in the others jobs that have same.
Find the run saying that proly we need to insert Opportunity first: https://www.openfn.org/projects/pdv34m/runs/rpdjnj7x

[2021-07-06 13:54] #60 closed

[2021-07-06 13:54] #58 closed

[2021-07-07 15:50] aleksa-krolls opened #61 "Payments uploads don't appear in OpenFn run logs - are these executing?"
## Describe the bug
We get a successful run (https://www.openfn.org/projects/pdv34m/runs/ryapaxrz ) when trying to upload `Opportunity` and related `npe01__OppPayment__c` records in Salesforce... when I look at Salesforce, it looks like data for both objects was successfully uploaded (as expected).

However, the run log doesn't show that the upsert step for `npe01__OppPayment__c` was executed... h

[2021-07-07 16:39] lakhassane commented on #61
Ahh @aleksa-krolls this was an error that we flagged on a previous version of `salesforce (v2.3.4)`. But, using v2.3.5 will solve it: https://www.openfn.org/projects/pdv34m/runs/rpd9dxkz

[2021-07-08 10:36] #59 closed

[2021-07-08 15:57] #61 closed

[2021-07-10 18:09] hnyende opened #62 "Dates in csv appear as XX/XX/19XX instead of XX/XX/20XX"
## Describe the bug
Date formats exported from  CSVs appear as `D/M/YY` and are not being synced to Salesforce properly.
For example  `SettlementDate` of format `29/7/19` in  `transactions cards.csv`, appears in Salesforce as `29/7/1919` (1919 date instead of a 2020 date). This issue seems to be across ALL of the Committed Giving CSV sync jobs, such as also in  `CloseDate` in opportunity  and `npe

[2021-07-11 07:56] hnyende opened #63 "Mail and Text Opt In fields in Donors not upserting in SF"
## Describe the bug
For all contacts in `donors.csv` with `Yes`  values in the fields of `Ok to mail` and `OK to text`, the corresponding checkboxes in the SF contacts for `Mail_Opt_in__c` and `Text_Opt_In__c` remain unchecked after upserting. Why are these fields not populating?

## To Reproduce
1. Here is a link to  OpenFn.org: https://www.openfn.org/projects/pdv34m/runs/rx8pwgw7

### expression

[2021-07-12 12:28] lakhassane commented on #62
@hnyende this is handle and replicated in the other jobs: https://www.openfn.org/projects/pdv34m/runs/rd7yzy7d

One question is the dates going to be the same format for all the files? Because in the previous one it was 4 digits for the year and not 2.

[2021-07-12 13:13] aleksa-krolls commented on #62
@hnyende can you confirm what the date formats are looking like in the latest CSVs uploaded to the sftp server? I'm wondering if we need to have @lakhassane handle for both scenarios... so let us know what you're seeing in the latest CSVs and please advise :)

[2021-07-12 16:12] lakhassane commented on #63
@hnyende I don't think this is a bug.
In the specs it was said:
1. We fetch by personRef
2. If we match, we do _something_
3. if we don't match (which is the case in each of the objects in the message for the run above), **we (A) check if CG is more recent than what's in SF**.
4. If yes to point A we upsert a bunch of field, otherwise we do (B) upsert only one field:  `Committed_Giving_ID__c`.
<im

[2021-07-14 07:47] #62 closed

[2021-07-14 07:47] #63 closed

[2021-07-14 07:56] #57 closed

[2021-07-14 07:56] #47 closed

[2021-07-14 07:56] #46 closed

[2021-07-14 07:56] #52 closed

[2021-07-14 07:56] #51 closed

[2021-07-15 05:57] aleksa-krolls opened #64 "upsertDirectDebits: `StartDate` returns null value"
## Describe the bug
See run: https://www.openfn.org/projects/pdv34m/runs/rwa8enx7
[code]
However, it's in state...
[code]
## To Reproduce
https://www.openfn.org/projects/pdv34m/messages/mj435a4e

### expression.js
https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertDirectDebits.js

### state.json
See LP for `WfWI NEW Sandbox Salesforce`
https://www.openfn.org/projects/pdv34m

[2021-07-15 05:58] aleksa-krolls opened #65 "upsertDirectDebits: `StartDate` returns null value"
## Describe the bug
See run: https://www.openfn.org/projects/pdv34m/runs/rwa8enx7
[code]
However, it's in state...
[code]
## To Reproduce
https://www.openfn.org/projects/pdv34m/messages/mj435a4e

### expression.js
https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertDirectDebits.js

### state.json
See LP for `WfWI NEW Sandbox Salesforce`
https://www.openfn.org/projects/pdv34m

[2021-07-26 13:28] hnyende opened #66 "ENTITY_IS_DELETED error on upsertTransactionsDD.js"
## Describe the bug

Upserting transactions DD is showing this error:
“ENTITY_IS_DELETED:entity is deleted:

## To Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of the bug:      https://www.openfn.org/projects/pdv34m/runs/r3x34r5n.

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertTransact

[2021-07-26 16:46] lakhassane commented on #66
Hey @hnyende I don't think this is a bug. It says the entity has been deleted. Can you check if that's the case?

[2021-07-27 05:55] hnyende commented on #66
@lakhassane let me check

[2021-07-27 09:48] hnyende opened #67 "Only insert records if the date is AFTER December 31, 2019"
## Background, context, and business value

See original issue #42 for the background. See [mapping sheet](https://docs.google.com/spreadsheets/d/1Bb8qLopGbrpPs_d1es71YH-uQDFZKi9594T4WRjiPP0/edit?ts=608c2ee2#gid=1424769387) - for updated mappings.

## The specific request, in as few words as possible

 Add logic to the  following jobs  that will only insert records if the date is AFTER December 31

[2021-07-30 14:48] hnyende opened #68 "upsertCardMaster.js v2: new job version based on `credit master` change requests"
## Background, context, and business value
See Issue #41 that informed creation of upsertCreditMaster.js

## The specific request, in as few words as possible
Create new Job version that upserts  `npe03__Recurring_Donation__c`  Salesforce object based on data in `card master` CSV.
- See[ Data Flow Diagram](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?beaconFlowId=0F4D9579

[2021-07-30 15:49] hnyende opened #69 "upsertTransactionCards v2: new version of upsertTransactionCards.js job based on change requests"
## Background, context, and business value
Related to issue #69 ... we now have new logic based on the `Transaction Cards` csv to inform how we create/update Recurring Donations and Opportunities.
Also see Issue #41 that informed the original creation of upsertTransactionCards.js... we will scrap this logic.

## Request

Create a new Job that is triggered by `Transactions - cards CSV` messages (to

[2021-08-02 12:30] aleksa-krolls opened #70 "New `fetchJSONs` job that groups CSV rows before creating json Message chunks"
## Background
Issue #41 produced a job that GETs CSV files from sftp server and returns smaller chunks to post back to OpenFn inbox. The issue is that for some new job change requests in the backlog, we sometimes want to group and aggregate information on some of these CSV rows... so now we want to make sure that related CSV rows are always in the same Message state (and not have rows split betwee

[2021-08-03 07:10] #66 closed

[2021-08-04 09:56] lakhassane commented on #70
@aleksa-krolls could you clarify the grouping here.
A way to do this is to send chunks with the same `CardMasterId`. Result => we can have chunks with only 1 object or with 1000 objects (if they all have the same CardMasterId).

Currently we chunk with 500 objects by message, but in the case we do what I wrote above we might end up with messages bigger than expected or messages with very few objec

[2021-08-04 10:14] aleksa-krolls commented on #70
@lakhassane Priority is that transactions with the same `CardMasterId` are NEVER split up.

Ideally, if there is only 1 transaction for a `CardMasterId`, then we could include that in another Message that also contains different `CardMasterId` transactions... but if that's too complicated, then let's go with your suggested approach where there will be 1 Message for each `CardMasterId`'s transactio

[2021-08-04 12:13] lakhassane commented on #70
@aleksa-krolls pending long-running job here is a message sent to the inbox: https://www.openfn.org/projects/pdv34m/messages/mrb9eze5

it group all the CardMasterID in the same message, 146622 (present 12 times), 152267 (31 times).

[2021-08-04 12:29] lakhassane commented on #70
Final execution https://www.openfn.org/projects/pdv34m/runs/rbgm6nda

[2021-08-04 15:22] lakhassane commented on #68
@hnyende this is good to go based on our last call.

[2021-08-04 16:17] aleksa-krolls commented on #69
@lakhassane If you have any questions, I will be online for a little bit tomorrow morning to answer. Otherwise Hawa can support Thurs/Friday and I will be back Monday to help test.

@hnyende Please note that I realized because Salesforce auto-creates Opportunities... we need to compare the CSV transaction dates with these Opportunity dates in order to figure out _which_ Opportunities to update & m

[2021-08-05 04:09] aleksa-krolls commented on #69
@lakhassane please let @hnyende know when this transactions job is done... and she will test all the new credit jobs today and provide feedback. Thanks! :)

[2021-08-05 08:50] hnyende opened #71 "Update upsertTransactionDD.js job to upsert Recurring Donation on `# of Sisters Requested`"
## Background, context, and business value

See original Issue #41 for background

## The specific request, in as few words as possible

Update Transactions DD Job that upserts `npe03__Recurring_Donation__c` Salesforce object with `of_Sisters_Requested__c`

See [Data Flow Diagram](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?beaconFlowId=0F4D957922660114&page=N580CfsFZbx8

[2021-08-05 13:48] hnyende commented on #68
@lakhassane thanks. Let me test please

[2021-08-05 14:17] lakhassane commented on #69
@hnyende this is ready to go

[2021-08-05 17:39] hnyende commented on #69
@lakhassane thanks. Let me test

[2021-08-06 11:45] lakhassane commented on #71
@hnyende this is ready to go. One thin to not is that issue #70 says to group by `CardMasterID`, but in here we use `DDRefforBank`. I take into account both in `1.fetchJSONDuplicated.js`.
So if you want to fetch `transaction dd`, you need to comment out line `87` of the job. And if it's the `CardMaster` of `transaction cards`, you need to comment out line `86`

[2021-08-09 07:50] aleksa-krolls commented on #69
I was able to resolve the initial errors because of mapping issues... but it now looks like the transaction run fails because of date formatting for `CloseDate`:
[code]
https://www.openfn.org/projects/pdv34m/runs/raayjkb9

@lakhassane can you please help us with date formatting and let @hnyende know when she can re-run the transactions sync to test? Feel free to re-run on prod.

[2021-08-09 10:07] lakhassane commented on #69
@hnyende date format solved in here. you might want to check some external id that are not available in SF: https://www.openfn.org/projects/pdv34m/runs/rrkmx3d3

[2021-08-09 12:58] hnyende opened #72 "upsertCardMasterV2.js Feedback v1"
## Describe the bug

1.  of of sisters not computed properly for Occurrence == `Monthly` . For example,  if Monthly Occurrence, and Amount is 22, it computes `of_Sisters_Requested__c` as 1.8333333333333333,, which rounds of as 2 in SF instead of 1.  If Amount is 44, it computes `of_Sisters_Requested__c` as 3.6666666666666665, which rounds off in SF as 4 instead of 2.  Refer to issue #68 for correc

[2021-08-09 14:20] lakhassane commented on #72
@hnyende could you advise why 3.6 should be turned to 2 and not 3?

[2021-08-10 06:45] hnyende commented on #71
@lakhassane thank you. I will test this now.

[2021-08-11 07:24] aleksa-krolls commented on #69
@lakhassane @hnyende I'm seeing negative amounts are being returned as positive.
Example state from [this message](https://www.openfn.org/projects/pdv34m/messages/mk585994)...
[code]
  See output in [run log L57](https://www.openfn.org/projects/pdv34m/runs/rn5yxnyw)... this should be a negative `-264.00`.
[code]

[2021-08-11 07:30] aleksa-krolls commented on #68
@lakhassane @hnyende I'm seeing that for the donor with `"PrimKey": "WFWI150320151302430340"` ([see message state](https://www.openfn.org/projects/pdv34m/messages/mk585994)), many of her transactions are being classified as "general donation" rather than "sponsorship"... but I can tell from the transaction amount (`264`) that this should be a sponsorship. To ensure this outputs correctly...

**Cha

[2021-08-11 09:20] lakhassane commented on #69
@aleksa-krolls @hnyende this is ready to go

[2021-08-11 09:43] lakhassane commented on #68
@aleksa-krolls I think it's because we are overwritting data for that PrimKey.
It appears 9 times in the message and for some of them Amount is not multiple of 22. then it gets turned to "Donation"

[2021-08-11 10:34] lakhassane commented on #68
@hnyende @aleksa-krolls changes are made considering new data flow

[2021-08-11 12:04] aleksa-krolls opened #73 "upsertTransactionCardsV2: Dynamically set Campaign Source Code"
## Request
Mapping changes for #68

On L134 and L154, add the mapping `Campaign.Source_Code__c': 'X'` where `X` is `'UKSPCC'`if...
`x.Amount` is multiple of 22 (sponsorship). Otherwise return `'UKRG'`.

## state
https://www.openfn.org/projects/pdv34m/messages/mk585994

## expression
https://github.com/OpenFn/women-for-women/blob/2501a4d833168756821c1de1af7db8dc78674bf3/jobs/committed/upsertTransac

[2021-08-11 12:05] aleksa-krolls commented on #73
@lakhassane I _think_ this is the latest mapping change needed to ensure the Opportunity mappings look good.

@hnyende I think we can re-test credit data syncing when this is done.

[2021-08-11 12:32] aleksa-krolls commented on #68
@lakhassane I'm seeing a successful run... but no logs from Salesforce which usually show me the record ids when records are successfully created. Is this a false success?
https://www.openfn.org/projects/pdv34m/runs/rya4aw6d

[2021-08-11 12:45] taylordowns2000 commented on #68
@aleksa-krolls, looks like a valid :heavy_check_mark: , but that those arrays are empty. Could the logic in the filters on [35](https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertCardMasterV2.js#L35) and [49](https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertCardMasterV2.js#L49) be wrong?

@lakhassane , would you check on how the arrays are being cr

[2021-08-11 14:02] lakhassane commented on #68
It's looking good Taylor. It was how the data was wrapped inside a new array. Fixed

[2021-08-11 14:25] aleksa-krolls commented on #73
@lakhassane Since the latest change we're encountering `UNABLE_TO_LOCK_ROW` error when bulk upserting Opportunities.
https://www.openfn.org/projects/pdv34m/runs/rzd5dmab

It _might_ be because of Salesforce-side automation triggered when we upsert Opps... but we didn't see this error before, so I'm wondering if you have any ideas what might be causing it?

[2021-08-11 15:27] hnyende opened #74 "upsertDonors.js Feedback - Trim Contact names before syncing"
## Describe the bug

Duplicate errors  are falsely lagged if contact names are not trimmed.  See example:   FirstName = 'Yasmin ' should be trimmed to  'Yasmin' before sync

## To Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of the bug:  https://www.openfn.org/projects/pdv34m/runs/r6gbkmga

### expression.js
Link to the job itself in Github: https://github.com/Open

[2021-08-11 15:47] lakhassane commented on #73
@aleksa-krolls it's likely that we have 2 jobs trying to upsert the same record. Can it be those 2 because from the logs I see they manipulated the same `Committed_Giving_ID__c` and the error happens only when the start time is equal.

<img width="1118" alt="Screen Shot 2021-08-11 at 15 46 22" src="https://user-images.githubusercontent.com/8411231/129061128-cd1b9432-0eaa-43e5-841e-653e5d65314b.png

[2021-08-11 16:06] lakhassane commented on #74
@hnyende corrections made https://www.openfn.org/projects/pdv34m/runs/rg5656jy

[2021-08-12 08:43] hnyende commented on #74
@lakhassane Thanks. All working fiine.

[2021-08-12 08:43] #74 closed

[2021-08-12 13:42] hnyende commented on #72
@lakhassane , just a few other things to ADD to the mapping:
1. `npsp__PaymentMethod__c` -->   default to `credit card`
2. csv.AddedDateTime   -->   `npe03__Date_Established__c`.

[2021-08-12 13:49] lakhassane commented on #72
@hnyende it's done

[2021-08-12 13:49] hnyende commented on #72
@lakhassane thanks let me test

[2021-08-18 10:23] hnyende opened #75 "upsertTransactionCardsV2: Dynamically set Installment Period based on Amount"
## Background, context, and business value

See original Issue #41 for background

## The specific request, in as few words as possible
Update Transactions Cards v2 Job that `upserts npe03__Recurring_Donation__c` Salesforce object with `npe03__Installment_Period__c`

See  [Data flow diagram](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?beaconFlowId=0F4D957922660114&page=0

[2021-08-18 14:13] aleksa-krolls commented on #75
@lakhassane please go ahead and work on this and let @hnyende know when ready for testing

[2021-08-18 16:27] lakhassane commented on #75
@hnyende I mapped the new field

[2021-08-18 17:26] hnyende commented on #75
@lakhassane thanks. Let me test.

[2021-08-19 06:50] #72 closed

[2021-08-19 06:53] #69 closed

[2021-08-20 13:37] aleksa-krolls opened #76 "create new V2 job for `upsertTransactionDD.js`"
## Background, context, and business value
The current job `upsertTransactionDD.js` upserts Opportunities based on Committed Giving `Transactions DD` csv files. However, sometimes these transactions already exist as Opportunities in SF... Opps can be automatically created without an external ID assigned.

We therefore need to modify the logic for how we check for existing Opportunities, and cannot

[2021-08-20 13:39] aleksa-krolls commented on #76
@lakhassane please take this on whenever you're free and let us know if you have any questions.

@hnyende I noticed that the current job `upsertTransactionDD.js` is always creating new Opps rather than updating the ones auto-created when the parent `Recurring Donation` was created. I think this new logic should address some of the issues we're currently experiencing with the `Transactions DD` sync

[2021-08-20 13:48] aleksa-krolls commented on #70
@lakhassane We need to do this again now when fetching the `Transactions DD` csv file... but for this one, we should group the CSV rows by `DDId` before chunking.

[2021-08-20 13:49] #73 closed

[2021-08-20 13:50] #75 closed

[2021-08-20 14:31] aleksa-krolls opened #77 "New `V2` job versions for the 2`Custom` field jobs"
## Background, context, and business value
The Custom fields CSVs received from Committed Giving don't have all the info we need to look up existing Opportunities using external Ids. Therefore we need to search for the existing Opp to update using a different method.

## Request
Please modify the existing "Custom" jobs to find existing Opportunities to update... we should never be creating new one

[2021-08-20 14:34] lakhassane commented on #70
@aleksa-krolls if I did it right one change can do the trick.
https://github.com/OpenFn/women-for-women/blob/09cfd51e393c5729bbd03c372092c9790c39a1c2/jobs/committed/1.fetchJSONDuplicated.js#L87

Here if we change `DDRefforBank`with `DDId`it should group by that one before sending to inbox

[2021-08-20 14:36] aleksa-krolls commented on #70
@lakhassane perfect! I forgot we had already implemented this for DD records :)

[2021-08-20 15:45] lakhassane commented on #76
@aleksa-krolls @hnyende this is done for testing.

I made the query to first match for opportunities and built 2 new arrays based on `opportunitiesToCreate` and `opportunitiesToUpdate`. I used 2 different operations in the bulk insert or update. I hope it might solve the issue

[2021-08-23 10:17] lakhassane commented on #77
@aleksa-krolls @hnyende I have a question on this one.

The logic says `For every CG row...` to query matching but if not found to throw an error. However if we throw error the jobs stops and the rest of the rows will not be updated even they would have matched.

[2021-08-23 10:30] lakhassane commented on #77
I implemented as it is said for the moment.

[2021-08-25 05:25] #71 closed

[2021-08-25 05:25] #70 closed

[2021-08-25 12:39] hnyende opened #78 "upsertCardMaster.js v2 job change request on `Date Established`"
## Background, context, and business value

See Issue #41 that informed creation of upsertCreditMaster.js

## The specific request, in as few words as possible

Update upsertCardMaster.js v2 by adding a month to `npe03__Date_Established__c` before upserting.

See [Data Flow Diagram](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?beaconFlowId=0F4D957922660114&page=0_0#)
See

[2021-08-25 13:00] lakhassane commented on #78
@hnyende I made the change. You can keep testing

[2021-08-25 14:28] hnyende commented on #78
@lakhassane thanks.

[2021-08-26 06:17] aleksa-krolls opened #79 "upsertTransactionCardsV2.js always creates new Opps, does not update existing"
## Describe the bug
Related to issues #69 and #68.

We have [state](https://www.openfn.org/projects/pdv34m/messages/mk585994) with this Transaction with `"Transaction Date": "29/9/2018 01:12:21"`...
[code]
In Salesforce, there is an existing Opp with `CloseDate: 2018-09-29`... this MM YYYY matches that of the `csv.Transaction Date`.
<img width="888" alt="Screen Shot 2021-08-26 at 9 11 50 AM" src="

[2021-08-26 13:11] aleksa-krolls opened #80 "Make sure date comparison in `Transactions` jobs also consider Salesforce date format"
## Request
Similar to changes made for issue #79 , we need to update existing opps... not always create new opps when syncing `Transactions Card` and `Transactions DD` (we again compare `csv.Transaction Date` with `Opportunity.CloseDate` MM YYYY). Can you please check that no changes need to the date formatting & comparison for these transactions job as well?

## expression
`upsertTransactionDDV2`

[2021-08-26 16:29] aleksa-krolls opened #81 "upsertTransactionDDV2.js: update operation should use `id` for externalIdField"
## Background
In the [Debit Sync Logic](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?page=N580CfsFZbx8#) flow we will either create or update Opps based on whether we can find an existing Opp by comparing transaction dates.

## Request
When we update existing Opps on L108, currently we use `Commited_Giving_ID__c` as the external Id... but we should instead use the record

[2021-08-27 06:53] #40 closed, assigned to nobody

[2021-08-27 06:54] #79 closed, assigned to lakhassane, hnyende

[2021-08-27 06:54] #80 closed, assigned to lakhassane

[2021-08-27 07:51] hnyende opened #82 "Delete ALL Opportunity and npe03__Recurring_Donation__c records in SF"
## Background, context, and business value

This job will help reset the sandbox while we test.
When we run the `upsertCardMasterv2 job`, the job upserts `Recurring Donation` records in Salesforce and,  Salesforce automatically generates a related `Opportunity` for each `Recurring Donation` record.  Once we make changes on the job, we need to remove existing records in Salesforce before upserting

[2021-08-27 08:41] aleksa-krolls opened #83 "Salesforce Bulk Data Load jobs not closing, no results displayed in run logs"
## Describe the bug
I'm struggling to test syncs to Salesforce because the OpenFn run logs do not display any success/failure information from Salesforce when we bulk upload data. See my 2 recent run logs when I sync transactions...
1. Syncing 1 Opp: https://www.openfn.org/projects/pdv34m/runs/rx89e7k5
2. Syncing 52 Opps: https://www.openfn.org/projects/pdv34m/runs/r7x6r5pe
[code]

Usually I expec

[2021-08-30 07:23] aleksa-krolls commented on #82
@lakhassane Can you please tag @hnyende when you've committed this new job so that she can configure a new job on OpenFn.org and link to this script? Remember to please test on the `openfn` sandbox (do NOT delete any data in the `apitraining` partial sandbox!!). Thanks :)

[2021-08-30 10:10] lakhassane commented on #82
@hnyende the job is on github https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/deleteRecords.js

[2021-08-30 12:17] hnyende commented on #81
@lakhassane , Re-tested but type error: TypeError [Error]: Cannot read property 'Id' of null still on

[2021-08-30 12:36] hnyende commented on #82
@lakhassane thanks. Will configure immediately

[2021-08-30 16:11] lakhassane commented on #81
@hnyende did you see the latest update on slack ? https://openfn.slack.com/archives/C017ELVRSM8/p1630329230002100?thread_ts=1630321518.001100&cid=C017ELVRSM8

[2021-08-31 06:13] aleksa-krolls commented on #82
Hey @lakhassane @hnyende  this is failing on prod... are we waiting on adaptor changes to be pushed? See run: https://www.openfn.org/projects/pdv34m/runs/ryazpeyw

[2021-08-31 06:14] #83 closed

[2021-08-31 06:14] #68 closed

[2021-08-31 13:12] hnyende commented on #82
@aleksa-krolls , I have updated to v2.6.0

[2021-08-31 13:55] aleksa-krolls opened #84 "upsertTransactionCardsV2: negative sponsorship donation amount logged as 'General Giving'"
## Issue
I think Hawa is right that there's something off with the multipleof22-checking logic and the fact that it's a negative number. See slack thread: https://openfn.slack.com/archives/C017ELVRSM8/p1630410922000600

See [NEW__Credit RD Logic](https://lucid.app/lucidchart/5fde689a-2c21-4e07-ad7f-4808cbc134f9/edit?page=jvg9dnz.p6DI#) sheet for the modified logic flow and my notes since I made ch

[2021-08-31 16:16] lakhassane commented on #84
@aleksa-krolls @hnyende I pushed the logic according to the latest changes

[2021-08-31 18:10] aleksa-krolls commented on #82
@lakhassane after it runs successfully on prod, pls double check it actually works by running those `SELECT` queries in SF to confirm all RD and Opp records deleted.
See slack thread: https://openfn.slack.com/archives/G2LJCFFDW/p1630433352039300?thread_ts=1630431584.034800&cid=G2LJCFFDW

Latest run: https://www.openfn.org/projects/pdv34m/runs/rzdgpy5d

[2021-09-01 08:16] aleksa-krolls commented on #77
@lakhassane When we 'update' Opps in these 2 Custom jobs, we need to make sure we're updating using the Salesforce `id` returned in the select query. It doesn't look like we're currently mapping the `id`.
See run failure: https://www.openfn.org/projects/pdv34m/runs/rmkpg48g

Pls make sure you pull from Master before testing.

[2021-09-01 10:42] #84 closed

[2021-09-01 10:42] #81 closed

[2021-09-01 11:18] lakhassane commented on #77
@aleksa-krolls I added the Id for both custom jobs.

See run for `upsertCustomCC`: https://www.openfn.org/projects/pdv34m/runs/r6gw8m9g

[2021-09-01 12:58] aleksa-krolls opened #85 "Delete old `Pledged` CG Opportunities"
## Background, context, and business value
When we upload historical RDs, SF sometimes auto-creates Opportunities.

## The specific request, in as few words as possible
After we upload all Opps (transactions), we want to run a job to delete all of these auto-generated Opportunities that are no longer expected donation opportunities to help reset donation projections.

## state.json

See `LP for WF

[2021-09-01 16:52] lakhassane commented on #85
@aleksa-krolls this is done. is it safe to configure on prod and run?

[2021-09-02 06:16] aleksa-krolls commented on #85
@lakhassane Fyi, I adjusted the query slightly bc I realize what we want to delete is a little different... but working beautifully, thanks!
https://www.openfn.org/projects/pdv34m/runs/rmkpg8wd

[2021-09-02 06:16] #85 closed

[2021-09-02 06:32] aleksa-krolls commented on #82
@lakhassane @taylordowns2000 I still can't run this delete job... can you pls help? See run: https://www.openfn.org/projects/pdv34m/runs/rd746nyn

[2021-09-02 10:18] lakhassane commented on #82
@aleksa-krolls successfully deleted: https://www.openfn.org/projects/pdv34m/runs/r44grenx

There was an option missing in the job as per the latest adaptor changes `{failOnError: true}`

[2021-09-02 13:13] #77 closed

[2021-09-02 13:32] aleksa-krolls opened #86 "upsertDonors: TypeError [Error]: Cannot read property 'replace' of null"
## Describe the bug
I've cleared the sandbox and am trying to re-sync donors... but hitting this error:
https://www.openfn.org/projects/pdv34m/runs/ryaz45nj

### expression.js
https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertDonors.js

### state.json
**Please make sure you're using this sandbox:** `WfWI OpenFn Sandbox`
https://www.openfn.org/projects/pdv34m/messages/mpq8q

[2021-09-02 14:52] aleksa-krolls commented on #86
@lakhassane Also please see this other donor run where there seem to be lots of addresses with a `"Blank"` value... can you please clean these values in the `upsertDonors` job?
See run: https://www.openfn.org/projects/pdv34m/runs/rk5pjkny
See state: https://www.openfn.org/projects/pdv34m/messages/mn58zrdb

[2021-09-02 16:39] lakhassane commented on #86
@aleksa-krolls I pushed a fix for the original issue.

For your last comment is the run you posted exact? It's the same as the one in the specs above? Also could you point a line with those blanks address and what do you mean by "clean"

[2021-09-02 16:42] lakhassane commented on #86
Ok I see them at the end of the run. Could you precise what cleaning means here because this is how those address are:
`"Address1": "Blank",`

[2021-09-02 17:50] aleksa-krolls commented on #86
@lakhassane please map as follows, but check all Address fields (Address1, Address2). Thanks!
`Address1: "Address1"==="Blank" ? undefined : dataValue(Address1)`

[2021-09-02 18:34] lakhassane commented on #86
@aleksa-krolls I made a function that would replace Blank with undefined but Im unable to test because I can't trigger the same conditions that will Log the duplicates.

However you can see the snippet added here:
https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertDonors.js#L18-L22

[2021-09-03 11:30] #82 closed

[2021-09-06 10:24] #86 closed

[2021-09-06 11:13] aleksa-krolls opened #87 "`custom` jobs: find Honoree Contact, and create if record does not exist"
## Background, context, and business value
Sometimes when people donate, they want to make a donation in honor of someone... and WfWI therefore wants to then notify that "honoree contact" by sending them emails and sometimes a paper card. To make sure they can easily communicate with these honoree contacts, they want to make sure these people are logged as individual `Contact` records in their CRM

[2021-09-07 07:57] aleksa-krolls commented on #87
@lakhassane how's it going here? Any questions? Keep me posted if helpful to talk through today :)

[2021-09-07 10:20] lakhassane commented on #87
@aleksa-krolls I was searching for a way to do it without looping many times in the json to avoid timeout.

I mapped the new version for `upsertCustommCCV2` please have a look whenever you can.
There is 2 questions in there for you Line `77` and Line `87`

[2021-09-07 10:32] lakhassane commented on #87
I added same for `upsertCustomDDV2` with questions in the job

[2021-09-07 13:06] aleksa-krolls commented on #87
@lakhassane Thanks for the notes! I addressed your questions re: `FirstName` and `Email` by updating the mappings directly.

Re: your question `if no notify name and email should we update with empty contactId?`...
Can you please implement a change on both jobs to NOT map the field `npsp__Honoree_Contact__c` if `state.data['Notify Email Address']=== undefined  OR null`.

[2021-09-07 15:59] lakhassane commented on #87
@aleksa-krolls I implemented that change

[2021-09-09 13:01] aleksa-krolls opened #88 "New `CardMaster` job: Set old RDs as "inactive" if recent RD is cancelled"
## Background, context, and business value
If a recurring donations are cancelled, we should ensure that all existing Recurring Donations created in Salesforce before that cancellation date are also canceled.

## The specific request, in as few words as possible
For every CSV card master item `x` where `x.RecurringCancelDate` is defined...
1. Find existing active RDs for this Donor in Salesforce..

[2021-09-09 14:31] lakhassane commented on #88
@aleksa-krolls I made a draft of this logic.

How I understand your point 3 here is we log the message but we don't necessarily stop the whole flow and should keep going for the other rows.

[2021-09-10 05:34] aleksa-krolls commented on #88
@lakhassane if this is done, can you pls (1) link the job here (https://www.openfn.org/projects/pdv34m/jobs/jyd9zp), and (2) set the correct adaptor version.

[2021-09-10 11:00] lakhassane commented on #88
@aleksa-krolls it's linked

[2021-09-15 10:32] aleksa-krolls opened #89 "JSON_PARSER_ERROR: Cannot deserialize instance of date from VALUE_STRING value"
## Describe the bug
See run with failure:
`JSON_PARSER_ERROR: Cannot deserialize instance of date from VALUE_STRING value 11/2/2021 17:43:40 or request may be missing a required field at [line:1, column:460]`

1. Is there a `formatDate(...)` function we can borrow from the other jobs and apply to all the `Opt_In_Date `mappings (e.g., `Mail_Opt_in_Date__c?
2. Also I noticed that mappings are repeat

[2021-09-15 10:33] aleksa-krolls commented on #89
@lakhassane pls re-run on prod until we get a green check, and let me know if I can help!

[2021-09-15 16:15] lakhassane commented on #89
@aleksa-krolls I rework this one and:
1. correct the date issue
2. refactor the mapping.

So I used a generic `baseMapping` that centralizes all the fields to upsert https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/upsertDonorsV2.js#L17-L80

The job looks lighter and at least avoid those duplications.
I pushed the changes to `upsertDonorsV2.js` that I linked to the job on prod

[2021-09-20 06:04] #89 closed

[2021-09-20 06:04] #87 closed

[2021-09-22 14:35] aleksa-krolls opened #90 "upsertDonorsV2: Better logging for data errors"
## Request
Current logging makes it difficult to troubleshoot when we intentionally throw errors when there might be dupe contacts. See example error that only shows me the donors' first names...
See run: https://www.openfn.org/projects/pdv34m/runs/rrkyw55w
[code]
1.  Can you please update all of these logs to also include the donor's `FirstName`, `LastName`, and `Committed_Giving_ID__c` AND (`${F

[2021-09-23 06:46] aleksa-krolls commented on #90
Another example log that ideally I can have the names, IDs, and the problem fields displayed to better help troubleshoot...
https://www.openfn.org/projects/pdv34m/runs/raa7n6jn
[code]

[2021-09-23 07:25] aleksa-krolls opened #91 "upsertDonorsV2: `formatDate()` function returning dates in 1900s (instead of 2000s)"
## Request
Sometimes in the CSV state, dates will be formatted as: `Gift Aid date: '1/12/2017 09:05:00'`
This is currently outputting in SF as: `wfw_Date_of_Declaration_Confirmation__c: '01/12/1917'` (instead of `2017`)

## expression
https://github.com/OpenFn/women-for-women/blob/4b37133fd6278a350cee77b4c0c6d0676172bf3e/jobs/committed/upsertDonorsV2.js#L76

## state
See `WFWI OpenFn Sandox`
See L

[2021-09-23 13:26] lakhassane commented on #91
@aleksa-krolls do you have a example run so I can see the issue?

Using the formatDate on the example you gave me this is what is returned
<img width="302" alt="Screen Shot 2021-09-23 at 13 26 21" src="https://user-images.githubusercontent.com/8411231/134515335-ea0ecb5d-dce2-4df4-9c70-428261da8bc5.png">

[2021-09-23 15:20] aleksa-krolls opened #92 "New job to fetch only Donors csv & clean duplicate rows before chunking"
## Background
In test with the latest `donors` csv extract, we're finding that there are dupe records with the _same_ `EmailAddress` - see this sheet for examples: https://docs.google.com/spreadsheets/d/1hZkRHm5xJZReSlZ5KKErDwJw0LVPMgDKOkVRa058aWs/edit#gid=465632478

These rows need to be addressed by the admin immediately, and should not be synced with Salesforce.

## Request
_Before_ we chunk th

[2021-09-23 15:51] aleksa-krolls opened #93 "upsertDonorsV2: TypeError [Error]: Cannot read property '2' of null"
## Describe the bug
See run failure: https://www.openfn.org/projects/pdv34m/runs/r3xkepn4

## To Reproduce
Feel free to re-run on prod or locally

### expression.js
upsertDonorsV2.js

### state.json
See `WfWI OpenFn Sandbox`
https://www.openfn.org/projects/pdv34m/messages/mdb4d4gb

[2021-09-23 16:05] aleksa-krolls commented on #93
@lakhassane Looks like this was caused by a weirdly-generated Message... the CSV columns do not match the correct data values. I'm going to move out of backlog until we run your new `fetch donors` job... we can then check if this is still an issue.

[2021-09-23 17:30] aleksa-krolls commented on #88
@lakhassane do you remember why the 'bulkified' lines are commented out on this job? Are you waiting to test something?

[2021-09-23 17:32] lakhassane commented on #92
@aleksa-krolls changes done: https://www.openfn.org/projects/pdv34m/jobs/jywada

But we are timing out: https://www.openfn.org/projects/pdv34m/runs/rk58mbey
@taylordowns2000 can you make this job above a long running please?

[2021-09-23 17:54] aleksa-krolls commented on #88
@lakhassane Please test _locally_ with the `openfn` sandbox. (Note: the prod jobs are currently linked to another sandbox... so pls do NOT test on prod yet for this.)

Fyi, there are several RD records in there, so you can test individually... or in a bulkified way. You can use any of these messages to test: https://www.openfn.org/projects/pdv34m/messages?dateRange=custom&endDate=2021-09-23T17%3A5

[2021-09-23 19:06] aleksa-krolls commented on #92
@lakhassane see my Slack comment... I'm worried all the data isn't being posted back to OpenFn: https://openfn.slack.com/archives/G2LJCFFDW/p1632420235020700?thread_ts=1632410419.015400&cid=G2LJCFFDW

[2021-09-24 07:29] aleksa-krolls opened #94 "upsertCustomCCV2: Weird mappings to nonexistent columns throwing errors?"
## Describe the bug
Seeing this error for the first time: https://www.openfn.org/projects/pdv34m/runs/r89p4p73
`INVALID_FIELD: No such column '0' on sobject of type Opportunity`

Where are these mappings coming from?
`'0': '0',`
` n: 'p'`

This job is sometimes succeeding, so not sure what's up: https://www.openfn.org/projects/pdv34m/runs/ryarmr4j

## To Reproduce
Feel free to re-run on prod: http

[2021-09-24 10:03] aleksa-krolls commented on #92
@lakhassane I'm seeing the message now... were you able to fix something?
https://www.openfn.org/projects/pdv34m/messages/mj49j9pe

[2021-09-24 10:04] lakhassane commented on #92
@aleksa-krolls yes. It was a filtering issue where empty `EmailAddress` were removed

[2021-09-24 10:45] aleksa-krolls opened #95 "upsertDonorsV2.js: TypeError [Error]: Cannot read property '0' of undefined"
## Describe the bug
See run failure: https://www.openfn.org/projects/pdv34m/runs/rzd874re

## To Reproduce
Feel free to re-run on prod or locally

### expression.js
upsertDonorsV2.js

### state.json
See `WfWI OpenFn Sandbox`
https://www.openfn.org/projects/pdv34m/messages/me6n4nqb

[2021-09-24 10:47] aleksa-krolls commented on #93
Found a more recent error... updated the issue.

[2021-09-24 10:48] lakhassane commented on #94
@aleksa-krolls I made the correction and run locally (can't on prod because of queue). It was an issue with the dynamicFields we map on some conditions. Here is a correct mapping.

![Screen Shot 2021-09-24 at 10 48 15](https://user-images.githubusercontent.com/8411231/134662683-da18440e-fc68-46ec-a44b-da7c4aa837e4.png)
.

[2021-09-24 16:23] lakhassane commented on #93
@aleksa-krolls issue corrected with `Gift Aid Date: "True"`
See run here throwing duplicates error: https://www.openfn.org/projects/pdv34m/runs/rd7987wp

[2021-09-24 16:40] lakhassane commented on #95
@aleksa-krolls issue corrected here as well: https://www.openfn.org/projects/pdv34m/runs/rn53759x

[2021-09-24 18:09] aleksa-krolls commented on #93
@lakhassane Something is wrong here... when I check the source csv file, there is a date in this `Gift Aid Date` column
<img width="626" alt="Screen Shot 2021-09-24 at 9 05 56 PM" src="https://user-images.githubusercontent.com/16758106/134720936-b7016449-5453-4954-ab4c-21dfa3bf25c5.png">

But when I look at the Message state (see L891 in [this message](https://www.openfn.org/projects/pdv34m/messag

[2021-09-27 07:36] #90 closed

[2021-09-27 07:36] #91 closed

[2021-09-27 07:36] #94 closed

[2021-09-27 11:44] aleksa-krolls opened #96 "upsertDonorsV2: Add step to check `Committed_Giving_ID__c` before proceeding with duplicate-checking flow"
## Background, context, and business value
In issue #57 we implemented a flow for checking for existing dupe Contacts in Salesforce before merging records.
We realized that this flow is important for historical records, but once we go live... for faster processing, we should check if the SF record has already been assigned a Committed Giving ID before going through all the dupe-checking steps.

##

[2021-09-27 12:04] lakhassane commented on #93
@aleksa-krolls I think this might be a typo in the csv itself. In the generated json all the rows are correct except one where date and status are swapped.
Could you verify in the csv if you have quick access to it for  `"PersonRef": "454413164"` if `Gift Aid Date` and `Gift Aid Status` are in the correct order?

[2021-09-27 12:06] lakhassane commented on #95
correction made here: https://www.openfn.org/projects/pdv34m/runs/renze349

[2021-09-27 12:17] aleksa-krolls commented on #93
@lakhassane See screenshot from my last comment... the csv looks good. I therefore wonder if something went wrong when we fetch the donors csv from the sftp server? (See LP for `WFWI SFTP` if you want to inspect the source file yourself)

[2021-09-27 17:24] lakhassane commented on #93
@aleksa-krolls job re-run https://www.openfn.org/projects/pdv34m/runs/06151fa1-3758-7053-b174-dfbab2ac0173

[2021-09-27 18:20] aleksa-krolls opened #97 "upsertDirectDebits.js: TypeError [ERR_INVALID_ARG_TYPE]"
## Describe the bug
Haven't seen this one before...
`TypeError [ERR_INVALID_ARG_TYPE]: The "request" argument must be of type string. Received type boolean (true)`

## To Reproduce
Feel free to re-run on prod: https://www.openfn.org/projects/pdv34m/runs/061520a7-36dc-7d78-9345-6d49e1857aad

### expression.js
upsertDirectDebits.js

### state.json
See LP for `WfWI OpenFn Salesforce Sandbox`
https://

[2021-09-28 10:34] lakhassane commented on #96
@aleksa-krolls made the change here : https://www.openfn.org/projects/pdv34m/runs/06152ef5-9d99-742a-b899-68ab56bc9dad

Do you have an idea what we should do about `LastName`?  It's always undefined in state.

[2021-09-28 10:42] aleksa-krolls commented on #96
@lakhassane Thank you! Can you use `Surname` instead of `LastName`? (surname = csv, lastname = sf name)

[2021-09-29 10:23] #95 closed

[2021-09-29 10:24] #96 closed

[2021-09-29 13:13] elias-ba commented on #97
Hey @aleksa-krolls could you please add me [to this job](https://www.openfn.org/projects/pdv34m/runs/061520a7-36dc-7d78-9345-6d49e1857aad) ? I think I do not have the rights to access it currently.

[2021-09-29 13:47] elias-ba commented on #97
Hey @aleksa-krolls it looks like there was an issue with the adaptor installation. Because I saw `unknown` as the adaptor version in the run log. I have verified that the job runs successfuly on version `v2.6.3` both locally and on production and at this point in time I am not able to replicate the bug. Would you please confirm that it looks good from your side and please close this issue. Thanks

[2021-09-29 14:36] aleksa-krolls commented on #97
ok thanks @elias-ba , looks ok now

[2021-09-29 14:36] #97 closed

[2021-09-30 06:28] #93 closed

[2021-09-30 12:57] lakhassane commented on #88
@aleksa-krolls doing it successfully:
1st run : fetch RDs and deactivate them : https://www.openfn.org/projects/pdv34m/runs/06155b3f-b6d0-7665-9a57-765c088b8c03

2nd run: fetch same RDs but log that there are already deactivated: https://www.openfn.org/projects/pdv34m/runs/06155b41-856a-7184-9c1f-3b3dcbbe54f4

[2021-09-30 19:20] aleksa-krolls commented on #92
@lakhassane This fetch job is correctly flagging duplicate rows - see run: https://www.openfn.org/projects/pdv34m/runs/06155ff8-c34c-766e-9971-7952950b8921
`Error: Potential duplicate rows detected in Committed Giving. See rows:`

However, we are not removing these dupe rows from the Messages we post to the Inbox. See Message L242 that contains a duplicate donor: https://www.openfn.org/projects/pd

[2021-09-30 20:52] aleksa-krolls opened #98 "Update Transactions to link to match RD (only if parent RD found)"
## Background
Sometimes Opps existing in SF need to be linked to Recurring Donations we create via the integration. We know this by matching the Card Master ID.

## Request
Pls create new bulk job that relates stray `Opportunity` records with parent `npe03__Recurring_Donation__c` that we insert via this integration.

1. Query all `Opportunity` with `CG_Credit_Card_Master_ID__c` and RD not defined.

[2021-09-30 21:50] aleksa-krolls opened #99 "upsertCustomCCV2.js: Throw error of job at the end if no matching Opp"
## Request
If matching Opportunity not found, then please throw the error again... this way the entire message is evaluated and 1 error does not block syncing of all data.
See example run that throws error only after part of the payload has been mapped: https://www.openfn.org/projects/pdv34m/runs/06156303-4e21-7bdf-ae75-f7f85727aa07

## expression
https://github.com/OpenFn/women-for-women/blob/9bb

[2021-10-01 08:16] aleksa-krolls commented on #88
@lakhassane In this job we throw an error `No recurring donations to deactivate` if no RDs to update. Keep this log, but please don't throw an error. It's okay if there are no RDs to deactivate... this should still succeed.

See failure example & feel free to re-run on prod:
https://www.openfn.org/projects/pdv34m/runs/06156c36-759d-7c61-8a56-e10a26c538dc

[2021-10-01 09:28] lakhassane commented on #88
Alright made the change. https://www.openfn.org/projects/pdv34m/runs/06156d4b-ed35-7aa5-af4e-2574343d6149

No throwing error anymore

[2021-10-01 09:43] #88 closed

[2021-10-01 11:56] aleksa-krolls commented on #92
@lakhassane I think it worked now! But I'll test some more and let you know if anything else pops up. Closing for now.

[2021-10-01 11:56] #92 closed

[2021-10-01 11:57] aleksa-krolls commented on #98
@lakhassane whenever this is ready, please see `Testing` notes and keep me posted if you think we need a long-running job... hopefully not :D

[2021-10-01 15:12] lakhassane commented on #99
@aleksa-krolls I have a question here.

What do you mean `throw the error again?`

[2021-10-01 15:18] lakhassane commented on #98
@aleksa-krolls any LP cred to test here?

[2021-10-01 16:48] lakhassane commented on #98
@aleksa-krolls run here but no match found: https://www.openfn.org/projects/pdv34m/runs/061573bc-d7dc-7082-9636-a089126f6d29

Don't think this needs to be a long-running job

[2021-10-01 16:57] lakhassane commented on #99
@aleksa-krolls change done

[2021-10-04 09:58] #99 closed

[2021-10-04 10:05] aleksa-krolls commented on #98
@lakhassane This second query is not working because there are definitely matches.
Per the run log, it looks like this returns 0 returns.
[code]

However, if I query for just 1 of these Ids, then Salesforce does return one result.
[code]
![Screen Shot 2021-10-04 at 1.05.10 PM.png](https://images.zenhubusercontent.com/5d691cd53295e300013f1cbd/127907ad-048b-4208-8c98-281a33b842a6)

Can you please tr

[2021-10-04 10:33] aleksa-krolls commented on #98
@lakhassane So I'm testing in the "partial" training sandbox where I know there are matches.
It seemed to find matching RDs, but check out this run failure:
`ERROR_HTTP_414: Bad Message 414</h1><pre>reason: URI Too Long`
 https://www.openfn.org/projects/pdv34m/runs/0615ad78-acc6-7a7c-aa64-70743685bcdf

See the `Request Size Limits` section of the API docs: https://developer.salesforce.com/docs/atl

[2021-10-04 13:27] aleksa-krolls commented on #98
@lakhassane also one more request to add onto step 3 in my issue above. When querying RDs, can you also check the RD `Type__c`?
[code]
Then, if updating `Opportunity` to link the matching parent `npe03__Recurring_Donation__c`... ALSO update Donation Type:
`Opportunity.Donation_Type__c: RdType === 'Recurring Donation' ? 'Recurring Donation' : undefined
[code]

[2021-10-04 17:24] lakhassane commented on #98
@aleksa-krolls I implemented the logic we discussed but hitting an error saying object Opportunities does not exist:  https://www.openfn.org/projects/pdv34m/runs/0615b383-f822-7fbb-aadb-f0715919b12d

[2021-10-04 20:14] aleksa-krolls commented on #98
@lakhassane Looks like your operation was `bulk(
  'Opportunities',` instead of `Opportunity`.

All good now, thanks!

[2021-10-04 21:24] aleksa-krolls commented on #98
@lakhassane This isn't quite working... if there are 4 Opportunities with 1 matching parent RD, only one of the 4 Opportunities are updated.
For example, see this job duplicate I made where I added a filter to only search for Opps with the `CG_Credit_Card_Master_ID__c = '604564'` to test a smaller batch:
https://www.openfn.org/projects/pdv34m/jobs/jvr5k3

Then see run where only 1 of the 4 Opportu

[2021-10-05 09:44] lakhassane commented on #98
@aleksa-krolls I updated accordingly.

[2021-10-06 09:06] #98 closed

[2021-10-14 09:26] aleksa-krolls opened #100 "Capitalize first letter of `FirstName` and `Surname` before syncing to SF"
# Request
Please make sure Contact `FirstName` and `LastName` (csv: `Surname`) are cleaned so that the first character is capitalized before syncing with SF. Sometimes CG provides values like `anna`.

## state.json
See LP for `WfWI OpenFn Sandbox`
See L63 in this message for `anna`: https://www.openfn.org/projects/pdv34m/messages/06167f41-8c20-7322-82c3-a83eb7f5f362

## adaptor
salesforce

## expr

[2021-10-14 10:12] aleksa-krolls opened #101 "upsertCardMasterV2: check `csv.LastCredited` to set `Active__c` as true/false"
## Request
Currently we only check if `RecurringCancelDate` is present to determine if a Recurring Donation is active or inactive.

Please change so that:
1. If `csv.RecurringCancelDate` defined, then `sf.Active__c: false`

2. If `csv.RecurringCancelDate` not defined, then check `csv.LastCredited` as follows:

a. If `csv.LastCredited` not defined && `csv.Occurrence` also not defined OR  `None`, th

[2021-10-15 11:03] #101 closed, assigned to lakhassane

[2021-10-19 11:26] #100 closed, assigned to lakhassane

[2021-11-01 07:21] aleksa-krolls opened #102 "Mailgun run fails with `401` error"
## Describe the bug
See Jira issue: https://openfn.atlassian.net/browse/OFGS-294
Run failure: https://www.openfn.org/projects/p56pxp/runs/061797b8-a8ae-75b0-9bab-022b615af87c

## To Reproduce
1. Here is state: https://www.openfn.org/projects/p56pxp/messages/06179700-54ff-79f0-b667-3c80f0e118f7

2. **To test, run against this test expression** (which is very similar to the job that failed, but emai

[2021-11-01 15:37] taylordowns2000 commented on #102
@aleksa-krolls , it looks like this job doesn’t use the mailgun adaptor. Do you know why?

Other jobs in this project use `language-mailgun`. This one uses `language-http` and is labelled as `[Sendgrid]`—which is another kind of email-as-a-service app.

As a matter of fact, it looks like there’s a near copy of three jobs (2a, 2b, 3) built using both `language-http` _and_ `language-mailgun`. I don’

[2021-11-01 15:46] aleksa-krolls commented on #102
@taylordowns2000 Looks like the user manually triggered this job by mistake... my bad, I saw it was an email run and knew that only the Mailgun jobs were on, so assumed that was the issue here.

@ritazagoni Please look out for a Matias response and close out the Jira issue accordingly.

[2021-11-01 15:46] #102 closed

[2021-11-08 07:55] aleksa-krolls opened #103 "upsertTransactionDDV2: Job skips upsert, does not insert any Opp records"
## Describe the bug
The message state is full of Opps to insert, but the run log says `No items in Opportunity array. Skipping bulk upsert operation.`... why does it think there are no opps to insert?
https://www.openfn.org/projects/pdv34m/runs/06188c99-afb7-7276-9baf-bdbb58b72d5c

## To Reproduce
Feel free to re-run on prod: https://www.openfn.org/projects/pdv34m/runs/06188c99-afb7-7276-9baf-bdbb

[2021-11-08 11:51] lakhassane commented on #103
@alek there is a change in the json we are upserting.

The previous state was having this `"DDId": ""` but currently the new failing one have `"DDid": ""`  (with lowercased 'i').

Do you know why this change and what is the correct key value. That's why the job can't see any Opps to upserting when filter by DDId.

[2021-11-08 11:56] lakhassane commented on #103
Update done to check for both format: https://www.openfn.org/projects/pdv34m/runs/06189107-3969-7749-a70b-4fd332061016

[2021-11-10 15:43] aleksa-krolls commented on #103
@lakhassane Your fix does not seem to be working, seeing some issues.
See this run: https://www.openfn.org/projects/pdv34m/runs/0618912a-75a2-7776-b7c7-b2c0ead22307
1. It was successful BUT I see lots of `undefined` strings instead of `DDid` (or `DDId`). Search the run log for `undefined` to see what I mean.
e.g., `'npe03__Recurring_Donation__r.Committed_Giving_ID__c': 'WFWI120720172303530350undef

[2021-11-10 15:56] lakhassane commented on #103
@aleksa-krolls this is on me. I check for DDid only when filtering and removing unwanted object but not when mapping.

See last run here: https://www.openfn.org/projects/pdv34m/runs/0618beb3-dbad-7a0b-97c6-b95605beacca

For `DDid: 778811` look at line `329` of the last run

[2021-11-15 12:21] #103 closed

[2021-12-21 13:16] aleksa-krolls opened #104 "Job changes for dynamically getting CSV files from sftp"
## Background, context, and business value
We have an integration configured between SFTP server, OpenFn, and Salesforce that automates the extraction of donation data saved in CSV files on the SFTP server, and then transformation & loading into the target Salesforce CRM & donation management system.

Currently we have a job that will get specific `.csv` files from an SFTP server every time it run

[2021-12-22 18:50] elias-ba commented on #104
@aleksa-krolls this is now implemented and pushed. See [this commit](https://github.com/OpenFn/women-for-women/commit/e7145c1e16c5b3579cb23b3e0f7e01e3d4dd5bc5) and [this one](https://github.com/OpenFn/women-for-women/commit/4457c8d79435c8c327787e4d27eaca6e1e8c179f) too. Please review and lmk.

[2022-01-03 07:56] aleksa-krolls opened #105 "After creating new `Contact` records for Honoree Sponsors, link RDs to these Contacts"
## Background, context, and business value
WfWI uses Committed Giving to collect donor data, and sometimes a person will make a donation as a gift to a friend/family... so WfWI wants to log this gift recipient as a Contact so they can notify them of the gift made in their name.
In issue #87 , we implemented a change to create `Contact` records if recipient emails

## The specific request, in as fe

[2022-01-03 13:09] lakhassane commented on #105
@aleksa-krolls updates done. This is ready for testing

[2022-01-07 07:32] #104 closed

[2022-01-10 06:09] aleksa-krolls commented on #105
@lakhassane I'm testing on the latest csv export, and encountering [this run error](https://www.openfn.org/projects/wfwi-committed-giving/runs/061dbcb1-9423-75cb-a6cd-94271d32057b), which means we need to add the mapping `npe03__Contact__c` to our upsert RD operations (see L108 and L120).

To find the Id for `npe03__Contact__c`, we need to a soql query as follows to get the Id and map on L108 and

[2022-01-10 08:46] aleksa-burn opened #106 "Duplicate criteria removes csv rows where email is blank"
## Background
Per issue #55, we remove rows with duplicate emails after fetching CSVs from the sftp server.
https://github.com/OpenFn/women-for-women/blob/11e262a327b436ef345f6b2b21e709286fcf4e0e/jobs/committed/1.fetchJSON_Donors.js#L45-L60

However, I think this logic is removing rows where email is blank/not defined. If that's the case, then we should ensure these rows are not considered "duplic

[2022-01-10 08:48] aleksa-krolls opened #107 "Duplicate email check removes csv rows where email is blank"
## Background
Per issue #55, we remove rows with duplicate emails after fetching CSVs from the sftp server.
https://github.com/OpenFn/women-for-women/blob/11e262a327b436ef345f6b2b21e709286fcf4e0e/jobs/committed/1.fetchJSON_Donors.js#L45-L60

However, I think this logic is removing rows where email is blank/not defined. If that's the case, then we should ensure these rows are not considered "duplic

[2022-01-10 15:17] lakhassane commented on #107
@aleksa-krolls issue solved. The missing row is included here: https://www.openfn.org/projects/wfwi-committed-giving/messages/061dc4db-cc60-79be-9de3-eaed54005da2

[2022-01-11 12:17] aleksa-krolls commented on #107
@lakhassane is this resolved now? It look like it per the new messages you created with this donor example?

[2022-01-11 14:17] lakhassane commented on #107
@aleksa-krolls issue solved here: https://www.openfn.org/projects/wfwi-committed-giving/runs/061dd911-679e-7ea1-b601-0dfa2ff8629d

[2022-01-12 10:43] aleksa-krolls commented on #107
@lakhassane can you pls confirm what salesforce adaptor version all my jobs for this project should be on now?

[2022-01-16 16:48] #107 closed

[2022-01-23 21:06] #105 closed

[2022-02-23 15:28] aleksa-krolls opened #108 "Email error notification when Donor sftp extract job fails with error"
## Background
This job [1.fetchJSON_Donors.js](https://github.com/OpenFn/women-for-women/blob/master/jobs/committed/1.fetchJSON_Donors.js) runs on a timer basis to fetch a csv file from an `sftp` server to extract a list of donors to later upload to a Salesforce CRM used by the NGO.

Because Salesforce doesn't allow for duplicate Contacts with the same email address, this job currently throws an e

[2022-02-23 16:28] lakhassane commented on #108
@aleksa-krolls we made the change in the `emailErrorAlert` job. See example run here (I changed to receive the email myself): https://www.openfn.org/projects/wfwi-committed-giving/runs/06216601-9413-7f73-bb7c-a4a17b9f8a07

[2022-03-04 08:05] aleksa-krolls commented on #108
@grayey There was a failed donor run that triggered this email - see here: https://www.openfn.org/projects/wfwi-committed-giving/runs/06221c59-bb30-746c-97ac-7cc4dd48d3a6

Only L14 of this run failure log was included in the email alert triggered (see screenshot).
<img width="845" alt="Screen Shot 2022-03-04 at 7 55 41 AM" src="https://user-images.githubusercontent.com/16758106/156723323-fce2eac3-

[2022-03-23 13:32] grayey commented on #108
@taylordowns2000 this will be picked up later today.  For now, I've looked throug the requirements and installed the mailgun adaptor

[2022-03-24 09:32] aleksa-krolls commented on #108
PR in review: https://github.com/OpenFn/women-for-women/pull/110
@taylordowns2000 pls lmk whenever review and merged; not urgent.

[2022-03-24 11:01] taylordowns2000 commented on #108
@aleksa-krolls , PR approved, waiting to merge because I can't actually see emails in mailgun.

[2022-03-28 07:36] #108 closed